.elementor-widget-tm-tabs {
	.elementor-section.elementor-top-section.elementor-section-boxed > .elementor-container {
		padding-left: 0;
		padding-right: 0;
	}
}

.edumall-tabs-style-01 {
	.edumall-tabpanel {
		&.edumall-tabpanel-horizontal {
			.edumall-nav-tabs {
				position: relative;
				border-bottom: 0;
				margin: 0;

				&:after {
					content: '';
					height: 1px;
					left: 50%;
					width: 6000px;
					position: absolute;
					bottom: 0;
					background: #eee;
					transform: translate(-50%, 0);
				}
			}

			.tab-content {
				padding: 30px 0 0;
			}

			.edumall-tab-title {
				font-size: 20px;
				font-weight: $heading-font-weight;
			}

			.edumall-desktop-heading {
				margin: 0 15px;
				padding: 4px 10px 11px;
			}
		}

		&.edumall-tabpanel-vertical {
			.tab-content {
				padding: 0 0 0 20px;
			}
		}
	}
}

.edumall-tabs-style-02 {
	.edumall-nav-tabs {
		font-size: 0;
	}

	.edumall-tabpanel {
		> .edumall-nav-tabs {
			position: relative;
			border-bottom: 0;

			li {
				margin: 0 !important;

				a {
					border: 2px solid #eee;
					border-radius: 5px;
					font-size: 15px;
					font-weight: $heading-font-weight;
					color: $heading-color;
					background: #fff;
					line-height: 26px;
					margin: 0 -5px;
					padding: 13px 30px;
					min-width: 160px;
					transition: all .2s linear;

					&:hover {
						color: $primary-color;
					}
				}

				&.active {
					z-index: 1;
					a {
						color: #fff;
						background: $primary-color;
						border-color: $primary-color;
						transition: all .25s linear .25s;
					}
				}
			}
		}

		.tab-panel.active {
			.tab-mobile-heading {
				color: #fff;
				background: $primary-color;
				border-color: $primary-color;
			}
		}
	}

	.tab-mobile-heading {
		border: 2px solid #eee;
		border-radius: 5px;
		font-size: 15px;
		font-weight: $heading-font-weight;
		color: $heading-color;
		background: #fff;
		line-height: 26px;
		padding: 13px 30px;
		min-width: 160px;

		&:hover {
			color: $primary-color;
		}
	}

	.tab-content {
		padding: 66px 0 0;
	}

	.tab-panel {
		+ .tab-panel {
			margin: 10px 0 0;
		}
	}
}

.edumall-tabs-style-03,
.edumall-tabs-style-04 {
	.edumall-tabpanel {
		> .edumall-nav-tabs {
			border: 0;
		}

		.edumall-tab-title {
			display: flex;
			align-items: flex-start;
			padding: 34px 30px;
			border: 0 !important;
			border-radius: 5px;
			text-align: left;
		}
	}

	.nav-tab-icon {
		font-size: 48px;
		margin: 0 47px 0 0;
		flex-shrink: 0;
		line-height: 1;
	}

	.nav-tab-heading {
		flex-grow: 1;
	}

	.nav-tab-title {
		font-size: 20px;
		line-height: 1.34;
	}

	.nav-tab-description {
		font-size: $body-font-size;
		font-weight: $body-font-weight;
		line-height: $body-line-height;
		color: $text-color;
		margin: 11px 0 0;
	}

	.edumall-nav-tabs .active .edumall-tab-title,
	.tab-panel.active > .edumall-tab-title {
		background: #fff;
		box-shadow: 0 5px 25px rgba(0, 0, 0, .09);
	}

	.edumall-tabpanel.edumall-tabpanel-horizontal {
		.edumall-nav-tabs {
			li {
				margin: 0 3px 10px;

				.edumall-tab-title {
					padding: 20px 25px;
				}
			}
		}

		.nav-tab-icon {
			margin: 0 20px 0 0;
		}
	}

	.edumall-tabpanel.edumall-tabpanel-vertical {
		.edumall-nav-tabs {
			li + li {
				margin: 10px 0 0;
			}
		}

		.tab-content {
			padding: 0 0 0 30px;
		}

		&.edumall-tabpanel-nav-reversed {
			.tab-content {
				padding: 0 30px 0 0;
			}
		}
	}
}

.edumall-tabs-style-04 {
	.nav-tab-icon {
		font-size: 30px;
	}

	.nav-tab-description {
		display: none;
	}

	.edumall-tabpanel {
		.edumall-tab-title {
			padding: 25px 30px;
			border-radius: 8px;
		}

		> .edumall-nav-tabs {
			> .active {
				.nav-tab-description {
					display: block;
				}
			}
		}
	}

	.tab-panel.active {
		> .edumall-tab-title {
			.nav-tab-description {
				display: block;
			}
		}
	}
}

@media (min-width: 768px) {
	.elementor-widget-tm-tabs {
		&.edumall-tabs-style-01 {
			&.edumall-tabs-view-horizontal {
				.tab-content {
					padding: 0;
				}

				.edumall-tab-content {
					padding: 70px 0 0;
				}
			}
		}
	}
}

@media (max-width: 767px) {
	.edumall-tabs-style-03,
	.edumall-tabs-style-04 {
		.tab-panel {
			+ .tab-panel {
				margin: 10px 0 0;
			}
		}

		.edumall-tabpanel {
			.edumall-tab-title {
				padding: 20px;
			}
		}

		.nav-tab-icon {
			margin: 0 20px 0 0;
		}

		.tab-content {
			padding: 20px 0 0 !important;
		}
	}
}
