.elementor-widget-tm-testimonial {
	text-align: center;

	.testimonial-item {
		position: relative;
		display: inline-block;
		width: 100%;
		max-width: 100%;
	}

	.testimonial-quote-icon {
		position: absolute;
		top: 30px;
		right: 30px;
		font-size: 32px;
		line-height: 1;
		color: $primary-color;

		svg {
			transform: scale(-1, -1);
			width: 1em;
			height: auto;

			* {
				fill: currentColor;
			}
		}
	}

	&.align-left {
		text-align: start;
	}

	&.align-right {
		text-align: end;
	}

	.testimonial-main-content {
		display: flex;
		justify-content: center;
	}

	.content-wrap {
		position: relative;
		display: inline-block;
		width: 100%;
		max-width: 100%;
	}

	&.layout-image-inline {
		.image {
			flex-shrink: 0;
			margin: 0 30px 0 0;
		}

		.info {
			display: inline-flex;
			align-items: center;
			text-align: start;
		}

		&.align-right {
			.info {
				text-align: end;
				flex-direction: row-reverse;
			}

			.image {
				flex-shrink: 0;
				margin: 0 0 0 30px;
			}

			.testimonial-item {
				text-align: end;
			}
		}
	}

	&.layout-image-stacked {
		.image {
			margin: 0 0 28px;
		}

		.info {
			display: inline-block;
		}

		.position {
			margin-top: 11px;
		}
	}

	&.layout-image-above {
		.image {
			margin-bottom: 20px;
		}

		.cite {
			display: block;
			margin-top: 46px;
		}

		.position {
			margin-top: 11px;
		}
	}

	&.layout-image-top {
		.swiper-slide {
			padding: 70px 0 0;
		}

		.testimonial-item {
			padding-top: 100px !important;
		}

		.image {
			position: absolute;
			top: 0;
			left: 50%;
			transform: translate(-50%, -50%);

			img {
				width: 140px;
				height: 140px;
			}
		}

		.info {
			padding: 34px 0 0;
		}
	}

	&.layout-image-top-02 {
		.image {
			margin: 0 0 20px;
		}

		.info {
			padding: 21px 0 0;
		}

		.position {
			margin: 3px 0 0;
		}
	}

	&.layout-image-left {
		.testimonial-item {
			display: flex;
		}

		.image {
			flex-shrink: 0;
			margin: 0 30px 0 0;

			img {
				width: 70px;
				height: 70px;
			}
		}

		.info {
			padding: 34px 0 0;
		}
	}

	&.image-position-above {
		.info {
			padding: 0 0 20px;
		}
	}

	&.image-position-below {
		.info {
			padding: 20px 0 0;
		}

		.position {
			margin: 3px 0 0;
		}
	}

	&.image-position-bottom {
		.testimonial-main-content {
			height: 100%;
		}

		.content-wrap {
			display: inline-flex;
			flex-direction: column;
			height: 100%;
			width: 100%;
		}

		.content {
			flex-grow: 1;
		}

		.info {
			padding: 60px 0 0;
			flex-shrink: 0;
		}

		&.align-center {
			.info {
				justify-content: center;
			}
		}
	}

	.image {
		img {
			width: 60px;
			height: 60px;
			border-radius: 50%;
		}
	}

	.text {
		font-size: 18px;
		font-weight: 500;
		line-height: 1.67;
		color: #696969;
	}

	.cite {
		font-style: normal;
	}

	.title {
		font-size: 18px;
		line-height: 1.67;
		margin: 0 0 11px;
	}

	.testimonial-rating {
		margin-bottom: 11px;
	}

	.name {
		font-size: 14px;
		font-weight: 700;
		line-height: 26px;
		margin-bottom: 0;
	}

	.position {
		display: block;
		font-size: 14px;
	}
}

.edumall-testimonial-cite-layout-inline {
	.name {
		display: inline-block;
		margin: 0 13px 0 0 !important;
	}

	.position {
		display: inline-block;
		margin: 0 !important;
	}
}

.edumall-testimonial-style-01 {
	.testimonial-item {
		position: relative;
		padding: 32px 40px 37px;
		background: #f8f8f8;
		border-radius: 8px;
	}

	.testimonial-quote-icon {
		color: #e0e3e6;
		top: 15px;
		right: 20px;
	}

	.image {
		img {
			width: 60px;
			height: 60px;
		}
	}

	.title {
		color: $primary-color;
	}

	.text {
		font-size: 16px;
		font-weight: $heading-font-weight;
		line-height: 32px;
	}

	&.layout-image-inline {
		.image {
			margin: 0 15px 0 0;
		}
	}

	&.image-position-below {
		.info {
			padding: 35px 0 0;
		}
	}
}

.edumall-testimonial-style-02 {
	.testimonial-item {
		position: relative;
		padding: 30px 25px 34px 40px;
		background: #f8f8f8;
		border-radius: 8px;
	}

	.testimonial-quote-icon {
		color: #e0e3e6;
		top: 15px;
		right: 20px;
	}

	.image {
		img {
			width: 70px;
			height: 70px;
			box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
		}
	}

	.title {
		color: $primary-color;
	}

	.text {
		font-size: 16px;
		font-weight: 500;
		line-height: 32px;
	}

	&.layout-image-top-02 {
		.image {
			margin: 0 0 33px;
		}

		.info {
			padding: 33px 0 0;
		}
	}

	&.layout-image-inline {
		.image {
			margin: 0 15px 0 0;
		}
	}

	&.image-position-below {
		.info {
			padding: 35px 0 0;
		}

		.position {
			margin: 3px 0 0;
		}
	}
}

.edumall-testimonial-pagination {
	&.style-01 {
		display: inline-block;
		width: 315px;
		max-width: 100%;
		margin-bottom: 34px;

		.swiper-slide {

			.image {
				margin-bottom: 0;

				img {
					width: 85px;
					height: 85px;
					border-radius: 50%;
				}
			}

			&:not(.swiper-slide-thumb-active) {
				cursor: pointer;

				img {
					opacity: .4;
				}
			}
		}
	}
}

@include elementor-breakpoint-down(sm) {
	.elementor-widget-tm-testimonial.edumall-testimonial-style-01 {
		.testimonial-item {
			padding: 46px 30px 45px;
		}
	}
}
