@charset "UTF-8";

@font-face {
	font-family: "Edumallicon";
	src: url("Edumallicon.eot");
	src: url("Edumallicon.eot?#iefix") format("embedded-opentype"), url("Edumallicon.woff2") format("woff2"), url("Edumallicon.woff") format("woff"), url("Edumallicon.ttf") format("truetype"), url("Edumallicon.svg#Edumallicon") format("svg");
	font-weight: normal;
	font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
	@font-face {
		font-family: "Edumallicon";
		src: url("./Edumallicon.svg#Edumallicon") format("svg");
	}
}

.edumi:before {
	display: inline-block;
	font-family: "Edumallicon";
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	line-height: 1;
	text-decoration: inherit;
	text-rendering: optimizeLegibility;
	text-transform: none;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
}

.edumi-content-writing:before {
	content: "\f100";
}

.edumi-correct:before {
	content: "\f101";
}

.edumi-streaming:before {
	content: "\f102";
}

.edumi-group:before {
	content: "\f103";
}

.edumi-coin:before {
	content: "\f104";
}

.edumi-layers:before {
	content: "\f105";
}

.edumi-follower:before {
	content: "\f106";
}

.edumi-heart:before {
	content: "\f107";
}

.edumi-help:before {
	content: "\f108";
}

.edumi-shopping-cart:before {
	content: "\f109";
}

.edumi-settings:before {
	content: "\f10a";
}

.edumi-checklist:before {
	content: "\f10b";
}

.edumi-question:before {
	content: "\f10c";
}

.edumi-support:before {
	content: "\f10d";
}

.edumi-wallet:before {
	content: "\f10e";
}

.edumi-sign-out:before {
	content: "\f10f";
}

.edumi-youtuber:before {
	content: "\f110";
}

.edumi-user:before {
	content: "\f111";
}

.edumi-star:before {
	content: "\f112";
}

.edumi-open-book:before {
	content: "\f113";
}

.edumi-user-support:before {
	content: "\f114";
}
