.rtl {
	.archive-tabs-section.edumall-tabpanel {
		.edumall-nav-tabs {
			text-align: right;
		}
	}

	.popular-instructor-rating {
		.tm-star-rating {
			margin: 0 0 0 5px;
		}
	}

	.popular-instructor-avatar {
		margin: 0 0 0 16px;
	}

	.popular-instructor-footer {
		.meta-icon {
			margin: 0 0 0 4px;
		}
	}
}
