// Override default style from Elementor.
.elementor-widget-counter {
	.elementor-counter {
		.elementor-counter-number-wrapper {
			font-size: 48px;
			font-weight: 800;
			color: $primary-color;
		}

		.elementor-counter-title {
			font-size: 15px;
			font-weight: 700;
			line-height: 1.34;
			text-transform: uppercase;
			letter-spacing: 2px;
			margin-top: 14px;
			color: #3f3a64;
		}
	}
}
