.comments-area {
	padding-top: 20px;
	margin-top: 30px;
}

.comment-content a {
	word-wrap: break-word;
}

.comment-notes,
.logged-in-as {
	margin: -15px 0 26px;
}

.bypostauthor {
	display: block;
}

.comments-title,
.comment-reply-title {
	display: block;
	margin-bottom: 20px;
	font-size: 20px;
	line-height: 1.6;
}

.comments-title {
	margin-bottom: 24px;

	.count {
		font-size: 14px;
		color: $text-lighten-color;
	}
}

.comments-wrap {
	margin-bottom: 62px;
}

.comment-list {
	margin: 0;
	padding: 0;
	list-style-type: none;

	.pingback,
	.trackback,
	.comment {
		@extend %clearfix;
		list-style-type: none;
		margin-bottom: 30px;
		padding-bottom: 27px;
		border-bottom: 1px solid #eee;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.trackback,
	.pingback {
		padding-left: 0;

		.comment-content {
			margin-left: 0;
		}
	}

	> .trackback,
	> .pingback,
	> .comment {
		&:last-child {
			margin-bottom: 0;
		}
	}

	.children {
		padding: 0;

		> li {
			padding-left: 61px;
			margin-bottom: 0;
			margin-top: 30px;
			padding-bottom: 0;
			padding-top: 28px;
			border-bottom: 0;
			border-top: 1px solid #eee;
		}
	}

	.comment-header {
		margin-bottom: 9px;
	}

	.comment-author {
		float: left;
		img {
			border-radius: 50%;
		}
	}

	.comment-content {
		position: relative;
		overflow: hidden;
		margin-left: 90px;
	}

	.meta {
		margin-bottom: 4px;
	}

	.fn {
		font-size: 14px;
		font-weight: 700;
		display: inline-block;
		margin-bottom: 0;

		a {
			font-style: inherit;
			font-size: inherit;
			color: inherit;
		}
	}

	.description {
		line-height: 2.14;
		color: #696969;
	}

	.comment-footer {
		display: flex;
		flex-wrap: wrap;
		margin-top: 16px;
		color: $text-lighten-color;
		font-size: 13px;
	}

	.comment-datetime {
		margin: 0 10px 0 0;
	}

	.comment-actions {
		a {
			font-weight: 500;
			color: #5c5c5c;
			margin: 0 10px 0 0;
		}
	}

	.comment-awaiting-messages {
		display: block;
	}

	.comment-respond {
		margin-top: 30px;
	}
}

.comment-form {
	textarea {
		height: 140px;
		padding: 19px 20px 3px;
	}

	input[type='text'],
	input[type='email'] {
		width: 100%;
	}

	.comment-form-author,
	.comment-form-email,
	.comment-form-url {
		margin: 0 0 20px;
	}

	p.form-submit {
		margin: 25px 0 0;
	}

	.submit {
		min-width: 150px;
	}
}

.comment-form-cookies-consent {
	margin: 20px 0;

	label {
		cursor: pointer;
	}
}

@include media-breakpoint-down(lg) {
	.comment-list {
		.vcard {
			img {
				width: 50px;
			}
		}

		.comment-content {
			margin-left: 70px;
		}

		.children {
			> li {
				padding-left: 35px;
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	.comment-list {
		.comment {
			margin-top: 25px;
			padding-top: 30px;
		}

		.vcard {
			img {
				width: 40px;
			}
		}

		.comment-content {
			margin-left: 60px;
		}

		.children {
			> li {
				padding-left: 20px;
			}
		}
	}

	.comment-form {
		textarea {
			height: 120px;
		}
	}
}
