/* Loading Animation */
@keyframes skeleton-loading {
	100% {
		transform: translateX(100%);
	}
}

/* Card styles */
.edumall-skeleton-card {
	&.style-01 {
		height: auto;
		width: auto;
		overflow: hidden;

		//margin: 0 0 30px;

		.edumall-skeleton-image {
			height: 165px;
			width: 100%;
			border-radius: 5px;
			margin: 0 0 20px;
		}

		/* Card title */
		.edumall-skeleton-title {
			height: 28px;
			width: 75%;
			border-radius: 3px;
		}

		.edumall-skeleton-description {
			padding: 8px;
			font-size: 16px;
			height: 3rem;
			margin: 1rem 0 0;
			border-radius: 3px;
		}

		/* The loading Class */
		.edumall-skeleton-item {
			position: relative;
			background-color: #e2e2e2;

			&:after {
				display: block;
				content: '';
				position: absolute;
				width: 100%;
				height: 100%;
				transform: translateX(-100%);
				background: -webkit-gradient(linear, left top,
					right top, from(transparent),
					color-stop(rgba(255, 255, 255, 0.2)),
					to(transparent));
				background: linear-gradient(90deg, transparent,
					rgba(255, 255, 255, 0.2), transparent);
				animation: skeleton-loading .8s infinite;
			}
		}
	}
}
