.buddypress.widget {
	background: #fff;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(51, 51, 51, .08);
	padding: 20px 30px;

	+ .widget {
		margin: 20px 0 0 !important;
	}

	.widget-title {
		font-size: 20px;
		line-height: 1.6;
		border: 0;
		padding: 0;
		margin: 0 0 22px;
	}

	&.widget_bp_groups_widget,
	&.widget_bp_core_members_widget {
		.widget-title {
			margin: 0 0 11px;
		}
	}

	.item-options {
		border-bottom: 1px solid #eee;
		padding: 0;
		margin: 0 0 20px;

		a {
			display: inline-block;
			font-size: 14px;
			font-weight: 500;
			line-height: 26px;
			margin: 0 20px 0 0;
			padding: 0 0 7px;
			border-bottom: 2px solid transparent;
			margin-bottom: -1px;
			box-shadow: none !important;

			&.loading,
			&.selected {
				color: $primary-color;
				border-color: $primary-color;
			}
		}

		.bp-separator {
			display: none;
		}
	}

	.activity-list {
		padding: 0;
	}

	.bp-feedback {
		background-color: #f8f8f8;
		box-shadow: none;
	}
}

.buddypress.widget {
	ul#friends-list,
	ul#groups-list,
	ul#members-list {
		margin: 0 !important;

		.bp-tooltip {
			&:after {
				display: none;
			}
		}

		li {
			@extend %clearfix;
			margin: 0;
			border: 0;
			padding: 0;
			width: 100%;

			+ li {
				margin: 20px 0 0;
			}

			.item-avatar {
				float: left;
				padding: 0;
				width: 56px;

				img {
					width: 56px;
					height: 56px;
					border-radius: 50%;
				}
			}

			.item {
				padding: 0 0 0 71px;
				margin-left: 0;
				width: 100%;
			}

			.item-title {
				a {
					font-size: 16px;
					line-height: 28px;
					font-weight: $heading-font-weight;
					color: $heading-color;
				}
			}
		}
	}

	ul#groups-list {
		li {
			.item-avatar {
				img {
					border-radius: 5px;
				}
			}
		}
	}

	&.bp-latest-activities {
		.bp-tooltip {
			&:after {
				display: none;
			}
		}

		.activity-item {
			display: flex;
			align-items: flex-start;
			padding: 0;
			margin: 0;

			+ .activity-item {
				margin: 20px 0 0;
			}
		}

		.activity-item-avatar {
			flex-shrink: 0;
			margin: 0 18px 0 0;
		}

		.avatar {
			border-radius: 50%;
			margin: 0;
		}

		.activity-item-body {
			flex-grow: 1;
		}

		.activity-item-action {
			font-size: 15px;
			line-height: 24px;
			font-weight: $heading-font-weight;
			color: #9b9b9b;

			a {
				color: $heading-color;

				&:hover {
					color: $primary-color;
				}
			}

			.activity-time-since {
				display: block;
				color: inherit;
				font-size: 13px;
				font-weight: 400;
				margin: 5px 0 0;
			}
		}
	}
}
