.edumall-button-align-start {
	.form-submit {
		justify-content: flex-start;
	}
}

.edumall-button-align-center {
	.form-submit {
		justify-content: center;
	}
}

.edumall-button-align-end {
	.form-submit {
		justify-content: flex-end;
	}
}

.edumall-button-align-stretch {
	.form-submit {
		input[type='submit'],
		button {
			text-align: center;
			-webkit-flex-basis: 100%;
			-ms-flex-preferred-size: 100%;
			flex-basis: 100%;
		}
	}
}
