.woocommerce-account {
	.woocommerce-privacy-policy-text {
		margin: 0 0 20px;
	}
}

.woocommerce-form-wrap {
	> h2 {
		font-size: 20px;
		line-height: 1.6;
		margin: 0 0 18px;
	}

	.button {
		width: 100%;
	}
}

.woocommerce-form-has-background {
	background: #fff;
	box-shadow: 0 0 30px rgba(0, 0, 0, .05);
	border: 1px solid #eee;
	border-radius: 5px;
	padding: 29px 50px 48px;
}

.woocommerce-form-login-wrap {
	.lost_password {
		a {
			display: inline-block;
			margin-bottom: 7px;
		}
	}
}

.woocommerce-form-register-wrap {
	padding: 29px 0 0;
}

// Center form if has only form.
.page-main-content > article > .woocommerce > .woocommerce-form-wrap {
	max-width: 570px;
	margin: 0 auto;
}
