.header-04 {
	.header-wrap {
		display: flex;
		align-items: center;
		height: 100%;
	}

	.branding {
		display: flex;
		align-items: center;
		flex-shrink: 0;
	}

	.page-navigation {
		flex-grow: 1;
		margin: 0 0 0 30px;
	}

	.header-right {
		/*flex-grow: 1;*/
		flex-shrink: 1;
		position: relative;
		padding: 0 0 0 30px;

		&:before {
			content: '';
			position: absolute;
			top: 50%;
			left: 5px;
			width: 1px;
			height: 40px;
			background: #d9dee3;
			transform: translate(0, -50%);
		}
	}

	.header-search-form {
		flex-grow: 1;
		max-width: 400px;

		.search-field {
			font-weight: 500;
			min-height: 52px;
			padding-right: 52px;

		}

		.search-submit {
			width: 52px;
			height: 52px;
			font-size: 20px;
		}

		.search-btn-icon {
			font-weight: 400;
		}
	}

	.desktop-menu & {
		.page-navigation {
			padding: 0 9px 0 0;
		}

		.menu--primary {
			text-align: left;
		}
	}

	.mobile-menu & {
		.header-left {
			flex-grow: 1;
		}

		.header-right {
			flex-shrink: 0;
		}
	}
}

@include media-breakpoint-down(sm) {
	.header-04 {
		.header-right {
			position: static;
			padding: 0;

			&:before {
				display: none;
			}
		}
	}
}

@media screen and (min-width: 1400px) {
	.desktop-menu {
		.header-04 {
			.menu--primary {
				> ul {
					> li {
						> a {
							padding-left: 17px !important;
							padding-right: 17px !important;
						}
					}
				}
			}
		}
	}
}
