.header-more-tools-opened {
	.header-right-inner {

		.header-social-networks a,
		.header-icon,
		.wpml-ls-item-toggle {
			color: $third-color;
		}

		.header-social-networks a,
		.header-icon:hover {
			color: $primary-color !important;
		}

		.wpml-ls-slot-shortcode_actions:hover > .js-wpml-ls-item-toggle {
			color: $primary-color !important;
		}

		.mini-cart .mini-cart-icon {
			&:after {
				color: #fff;
				background: $primary-color;
			}
		}

		.tm-button {
			&.style-flat {
				color: #fff;

				&:before {
					background: $primary-color;
				}

				&:hover {
					color: $third-color;

					&:after {
						background: $secondary-color;
					}
				}
			}
		}
	}
}
