@font-face {
	font-family: WooCommerce;
	src: url(assets/fonts/woocommerce/WooCommerce.eot);
	src: url(assets/fonts/woocommerce/WooCommerce.eot?#iefix) format("embedded-opentype"),
	url(assets/fonts/woocommerce/WooCommerce.woff) format("woff"),
	url(assets/fonts/woocommerce/WooCommerce.ttf) format("truetype"),
	url(assets/fonts/woocommerce/WooCommerce.svg#star) format("svg");
	font-weight: 400;
	font-style: normal;
}

.clear {
	clear: both;
}

.woocommerce,
.woocommerce-page {
	.col2-set {
		@extend %clearfix;
		width: 100%;

		&:before {
			content: ' ';
			display: table;
		}

		.col-1 {
			float: left;
			width: 48%;
		}
		.col-2 {
			float: right;
			width: 48%;
		}
	}
}

@include media-breakpoint-down(sm) {
	.woocommerce,
	.woocommerce-page {
		.col2-set {
			.col-1, .col-2 {
				float: none;
				width: 100%;
			}
		}
	}
}

.woocommerce-error,
.woocommerce-info,
.woocommerce-message {
	position: relative;
	width: 100%;
	border: 0;
	border-radius: 5px;
	color: #fff;
	margin-bottom: 30px !important;
	padding: 1em 2em 1em 4em;
	list-style: none outside;
	word-wrap: break-word;

	&:before {
		@extend %FontAwesomeRegular;
		font-size: 20px;
		color: #fff;
		position: absolute;
		top: 50%;
		left: 1.2em;
		transform: translate(0, -50%);
	}

	a {
		color: #fff;
		font-weight: 600;

		&:hover,
		&:focus {
			color: #fff;
		}
	}

	.button {
		@extend %LinkTransition;
		float: right;
		margin: 4px 0 0 10px !important;
		height: auto !important;
		border: 0 !important;
		border-radius: 0 !important;
		background: none !important;
		color: #fff !important;
		line-height: 1.2 !important;
		font-weight: 500 !important;
		text-transform: uppercase;
		letter-spacing: .1em;
		font-size: 12px !important;
		padding: 2px 0;
	}
}

.woocommerce-error {
	background: #d9534f;

	&:before {
		content: '\f0f3';
	}
}

.woocommerce-info {
	&:before {
		content: '\f05a';
	}
}

.woocommerce-message {
	&:before {
		content: "\f058";
	}
}

.woocommerce-notice {
	position: relative;
	width: 100%;
	border: 0;
	border-radius: 5px;
	color: #fff;
	margin-bottom: 30px !important;
	padding: 1em 2em 1em 4em;
	list-style: none outside;
	word-wrap: break-word;

	&:before {
		@extend %FontAwesomeRegular;
		font-size: 20px;
		color: #fff;
		position: absolute;
		top: 50%;
		left: 1.2em;
		transform: translate(0, -50%);
	}

	a {
		color: #fff;
		font-weight: 600;

		&:hover,
		&:focus {
			color: #fff;
		}
	}

	.button {
		@extend %LinkTransition;
		float: right;
		margin: 4px 0 0 10px !important;
		height: auto !important;
		border: 0 !important;
		border-radius: 0 !important;
		background: none !important;
		color: #fff !important;
		line-height: 1.2 !important;
		font-weight: 500 !important;
		text-transform: uppercase;
		letter-spacing: .1em;
		font-size: 12px !important;
		padding: 2px 0;
	}
}

.woocommerce-notice--success {
	background: $success-color;

	&:before {
		content: "\f058";
	}
}

.woocommerce-notice--error {
	background: $error-color;

	&:before {
		content: '\f0f3';
	}
}

.woocommerce-notice--info {
	&:before {
		content: '\f05a';
	}
}

.notify-actions {
	margin-top: 20px;
	text-align: center;

	.notify-link {
		margin-right: 10px;
		color: #fff;
		text-transform: uppercase;
		font-weight: 700;

		&:hover {
			text-decoration: underline;
		}
	}
}

.woocommerce {
	.product-badges {
		position: absolute;
		top: 10px;
		left: 10px;
		z-index: 2;

		> span {
			position: relative;
			top: 0;
			left: 0;
			display: inline-block;
			vertical-align: top;
			margin: 0 5px 3px 0;
			padding: 5px 7px;
			min-height: 0;
			color: #fff;
			text-align: center;
			font-size: 11px;
			font-weight: 700;
			line-height: 1.15;
			text-transform: uppercase;
			letter-spacing: 0.5px;
			border-radius: 2px;
			min-width: 48px;
		}

		.hot {
			background: #e4573d;
		}

		.onsale {
			background: #0071dc;
		}

		.new {
			background: #50d7e9;
		}

		.free {
			background: #6cbd7e;
		}

		.best-seller {
			background: #d31819;
		}

		.out-of-stock {
			background: #d31129;
		}
	}
}

.woocommerce form {
	.form-row {
		margin-bottom: 21px;

		textarea {
			height: 140px;
		}

		.optional {
			display: none;
		}

		&.woocommerce-invalid {
			.select2-container,
			input.input-text,
			select {
				border-color: #d9534f;
			}
		}

		label {
			display: inline-block;
			font-size: 13px;
			font-weight: $heading-font-weight;
			text-transform: uppercase;
			letter-spacing: 1px;
			margin: 0 0 7px;

			input {
				top: 1px;
			}

			&.woocommerce-form__label-for-checkbox {
				font-size: 14px;
				font-weight: 400;
				text-transform: none;
				letter-spacing: 0;
			}
		}

		span em {
			font-size: 13px;
			margin: 3px 0 0;
			display: block;
		}
	}

	fieldset {
		border: 1px solid #eee;
		border-radius: 5px;
		padding: 20px;

		legend {
			padding-left: 10px;
			padding-right: 10px;
		}
	}
}

.woocommerce-address-fields__field-wrapper,
.woocommerce-billing-fields__field-wrapper,
.woocommerce-shipping-fields__field-wrapper {
	display: flex;
	flex-wrap: wrap;
	margin-left: -10px;
	margin-right: -10px;

	.form-row {
		padding: 0 10px;
	}
}

.woocommerce-address-fields__field-wrapper {
	margin-bottom: 9px;
}

.stock {
	position: relative;
	display: inline-block;
	padding: 0 0 0 24px;
	margin: 0;
	font-weight: 500;

	&:before {
		@extend %FontAwesomeSolid;
		font-size: 14px;
		position: absolute;
		top: 50%;
		left: 0;
		transform: translate(0, -50%);
	}

	&.in-stock {
		&:before {
			color: #8cc63e;
			content: '\f058';
		}
	}

	&.out-of-stock {
		&:before {
			color: $text-lighten-color;
			content: '\f071';
		}
	}
}

.woocommerce-store-notice,
.demo_store {
	position: fixed;
	top: auto !important;
	bottom: 0;
	background: #000;
}

.woosw-content-item--price,
.tr-price,
.price,
.amount {
	font-size: 15px;
	font-weight: 700;
	line-height: 1;

	.decimals-separator {
		font-size: 66.666667%;
	}
}

.woosw-content-item--price,
.tr-price,
.price {

	.amount {
		font-size: inherit;
	}

	del, ins {
		display: inline-block;
		vertical-align: middle;
	}

	del {
		font-size: .867em;
		font-weight: 400;
		text-decoration: none;

		.amount {
			position: relative;
			font-size: inherit;
			font-weight: inherit;

			&:before {
				position: absolute;
				top: 50%;
				left: 0;
				width: 100%;
				height: 1px;
				background: currentColor;
				content: '';
			}
		}
	}

	del + ins,
	ins + del {
		margin: 0 0 0 8px;
	}
}

.star-rating {
	font-size: 14px;
	color: #f7c04d;
}

.woocommerce-account,
.woocommerce-checkout,
.woocommerce-cart {
	.page-content {
		> .container {
			max-width: 1200px;
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}
