.rtl {
	.edumall-popup-video-icon-position-left {
		.tm-popup-video.type-button {
			> a {
				text-align: right;
			}
		}
	}

	.edumall-popup-video-icon-position-right {
		.tm-popup-video.type-button {
			> a {
				text-align: left;
			}
		}
	}

	.edumall-popup-video-button-effect-wave-pulse {
		&.edumall-popup-video-icon-position-left {
			.video-button-play {
				margin: 0 0 0 40px;
			}
		}

		&.edumall-popup-video-icon-position-right {
			.video-button-play {
				margin: 0 40px 0 0;
			}
		}
	}
}
