.withdraw-balance-row {
	.amount {
		font-size: 18px;
	}
}

.making-withdraw-wrap {
	margin: 20px 0 0;
}

.tutor-earning-withdraw-form {
	margin: 15px 0 0;
}

.withdraw-page-current-balance {
	.decimals-separator {
		font-size: 1em;
	}
}
