.post-password-form {
	input[type='submit'] {
		display: block;
		margin: 30px auto 0;
	}
}

.single-post {
	.page-content {
		> .container {
			max-width: 1200px;
			padding-left: 15px;
			padding-right: 15px;
		}
	}

	.page-main-content {
		> .post-no-thumbnail {
			&.format-standard,
			&.format-image {
				.entry-header {
					border-bottom: 1px solid #eee;
					padding-bottom: 39px;
					margin-bottom: 38px;
				}
			}
		}
	}

	.entry-header {
		margin: 0 0 18px;
	}

	.entry-header-featured {
		position: relative;
		margin-bottom: 23px;
	}

	.entry-post-feature {
		line-height: 0;

		img {
			border-radius: 5px;
		}

		&.tm-popup-video .video-overlay {
			background: rgba(0, 0, 0, .5);
		}

		&.post-gallery {
			.swiper-nav-button {
				background: #fff;
				border-color: #fff;

				&:hover {
					background: transparent;
				}

				&.swiper-button-prev {
					margin-left: 20px;
				}

				&.swiper-button-next {
					margin-right: 20px;
				}
			}
		}

		&.post-video,
		&.post-link,
		&.post-quote {
			margin-bottom: 46px;
		}

		&.post-audio {
			margin-bottom: 38px;

			iframe {
				width: 100%;
				height: 200px;
				border: 0;
			}
		}

		&.post-link {
			padding: 82px 100px;
			background: #f7fbfe;
			font-size: 24px;
			line-height: 1.5;

			a {
				word-wrap: break-word;
			}
		}

		&.post-quote {
			position: relative;
			text-align: center;
		}

		.post-quote-content {
			position: relative;
			padding: 48px 40px;

			.quote-icon {
				color: #fff;
				font-size: 26px;
				margin-bottom: 35px;
			}
		}

		.post-quote-text {
			margin-bottom: 26px;
			color: #fff;
			font-size: 24px;
			line-height: 1.375;
		}

		.post-quote-name {
			font-size: 18px;
			color: #fff;

			a {
				color: inherit;
			}
		}
	}

	.featured-off {
		.entry-header-featured {
			margin: 0 0 10px;
		}
	}

	.entry-wrapper {
		margin: 0;
		padding: 0;

		.entry-post-feature {
			+ .entry-post-categories {
				position: absolute;
				bottom: 0;
				left: 10px;
				right: 10px;
				margin: 0 0 4px;

				a {
					color: #fff;
					background: #252525;
				}
			}
		}
	}

	.entry-content {
		@extend %clearfix;
		margin-bottom: 27px;
	}

	.entry-footer {
		display: block !important;
		border-bottom: 1px solid #eee;
		padding-bottom: 30px;
		margin-bottom: 40px;
	}

	&.page-has-no-sidebar {
		.entry-wrapper {
			max-width: 830px;
			padding: 0 30px;
			margin: 0 auto;
		}

		.entry-header {
			text-align: center;
			margin: 0 0 30px;
		}

		.entry-post-meta {
			margin: 0 0 25px;
		}
	}
}

.related-posts {
	margin-top: 50px;

	.related-title {
		margin-bottom: 20px;
		font-size: 20px;
		line-height: 1.6;
	}

	.tm-swiper {
		.swiper-slide {
			width: 236px !important;
			max-width: 90% !important;
		}
	}

	&.edumall-blog {
		.post-title {
			font-size: 16px;
			line-height: 1.75;
		}

		.post-caption {
			padding: 15px 0 0;
		}

		.post-meta {
			font-size: 13px;
			margin: 5px 0 0;

			.inner {
				margin: 0 -8px;

				> div {
					padding: 0 8px;
				}
			}
		}
	}
}

.entry-title {
	font-size: 28px;
	line-height: 1.42;
	margin: 0 0 18px;
	word-wrap: break-word;
}

.entry-post-categories {
	font-size: 0;
	margin: 0 0 10px;

	a {
		display: inline-block;
		font-size: 12px;
		font-weight: 700;
		text-transform: uppercase;
		letter-spacing: 0.5px;
		line-height: 22px;
		padding: 0 8px;
		border-radius: 3px;
		margin: 0 6px 10px 0;
		color: #696969;
		background: #f5f5f5;

		&:hover {
			color: #fff;
			background: $primary-color;
		}
	}
}

.entry-post-tags {
	.tag-label {
		display: inline-block;
		margin: 0 7px 0 0;
	}

	.tag-icon {
		display: inline-block;
		vertical-align: middle;
		font-size: 18px;
	}

	.tagcloud {
		display: inline-block;
		vertical-align: middle;
		color: #ababab;
		font-weight: 500;
	}

	a {
		display: inline-block;
		color: inherit;

		&:hover {
			color: $heading-color;
		}
	}
}

.entry-post-meta {
	font-size: 13px;
	line-height: 24px;
	color: #7e7e7e;
	margin: 0 -13px 12px;

	> div {
		display: inline-block;
		margin: 0 0 5px;
		padding: 0 13px;
	}

	.post-meta-author {
		a {
			display: block;
		}

		img {
			width: 32px;
			height: 32px;
			border-radius: 50%;
			vertical-align: middle;
			margin-right: 6px;
		}
	}

	.meta-icon {
		margin-right: 6px;
	}
}

.entry-author {
	margin: 40px 0 0;

	.author-info {
		display: flex;
	}

	.author-avatar {
		flex-shrink: 0;
		min-width: 100px;
		width: 140px;
		text-align: center;

		img {
			border-radius: 100%;
		}
	}

	.author-description {
		margin-left: 10px;
	}

	.author-name {
		font-size: 14px;
		line-height: 26px;
		margin: 0;
	}

	.author-biographical-info {
		margin: 11px 0 0;
	}

	.author-social-networks {
		.inner {
			@extend %clearfix;
			display: inline-block;
			margin: 13px -9px 0;
		}

		a {
			display: block;
			float: left;
			padding: 6px 10px;
			font-size: 15px;
			line-height: 1;
		}
	}
}

.entry-post-share {
	text-align: right;
}

.post-share {
	&.style-01 {
		display: inline-flex;
		align-items: center;

		.share-label {
			font-weight: 500;
			margin-right: 12px;
		}

		.share-icon {
			@extend %NormalTransition;
			height: 52px;
			width: 52px;
			line-height: 48px;
			font-size: 18px;
			border-radius: 50%;
			text-align: center;
			cursor: pointer;
			border: 2px solid #ededed;
			color: $primary-color;
		}

		.share-media:hover {
			.share-icon {
				color: #fff;
				border-color: $primary-color;
				background-color: $primary-color;
			}
		}
	}

	&.style-02 {
		.share-label {
			font-size: 14px;
			font-weight: 700;
			margin-right: 12px;
		}

		.share-icon {
			font-size: 15px;
		}

		.share-media {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			position: relative;
			cursor: pointer;
		}
	}

	.share-media {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		position: relative;
		cursor: pointer;

		&:hover {
			.share-list {
				transform: translate(-50%, -20px);
				visibility: visible;
				opacity: 1;
			}
		}
	}

	.share-list {
		@extend %NormalTransition;
		position: absolute;
		bottom: 100%;
		left: 50%;
		transform: translate(-50%, -10px);
		width: auto;
		white-space: nowrap;
		padding: 0 4px;
		text-align: center;
		background: #fff;
		border-radius: 5px;
		box-shadow: 0 2px 20px rgba(0, 0, 0, .06);
		filter: drop-shadow(0 2px 20px rgba(0, 0, 0, .06));
		z-index: 999;
		visibility: hidden;
		opacity: 0;
		user-select: none;

		&:before {
			position: absolute;
			top: 100%;
			left: 50%;
			transform: translateX(-50%);
			content: '';
			border-top: 8px solid #fff;
			border-left: 9px solid transparent;
			border-right: 9px solid transparent;
		}

		a {
			display: inline-block;
			font-size: 15px;
			padding: 10px 12px;
			color: #ababab;

			&:hover {
				color: $heading-color;
			}
		}
	}
}

.blog-nav-links {
	margin-top: 34px;

	.nav-list {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 30px;
	}

	.nav-item {
		min-width: 0;
		line-height: 0;
	}

	.inner {
		a {
			position: relative;
			display: flex;
			align-items: center;
			min-height: 120px;
			border-radius: 5px;
			overflow: hidden;
			background: #f1f3f8;

			&:hover {
				.hover-bg {
					opacity: 1;
				}

				h6 {
					color: #fff;

					&:before {
						color: #fff;
					}
				}
			}

			h6 {
				display: block;
				word-wrap: break-word;
				width: 100%;
			}
		}

		.hover-bg {
			@extend %NormalTransition;
			@extend %Absolute;
			background-color: #333;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			opacity: 0;

			&.has-thumbnail {
				&:before {
					@extend %ContentAbsolute;
					opacity: 0.5;
					background-image: linear-gradient(-180deg, rgba(51, 51, 51, 0.00) 0%, #000 80%);
					border-radius: 5px;
				}
			}
		}

		h6 {
			position: relative;
			font-size: 18px;
			line-height: 1.56;
			margin: 0;

			&:before {
				@extend %FontAwesomeLight;
				@extend %NormalTransition;
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				font-size: 24px;
			}
		}
	}

	.prev {
		h6 {
			padding: 20px 30px 20px 50px;

			&:before {
				left: 20px;
				content: '\f104';
			}
		}
	}

	.next {
		text-align: right;

		h6 {
			padding: 20px 50px 20px 30px;

			&:before {
				right: 20px;
				content: '\f105';
			}
		}
	}
}

@include media-breakpoint-up(xl) {
	.single-post.page-has-no-sidebar {
		.entry-header {
			margin: 0 0 44px;
		}

		.entry-title {
			font-size: 40px;
			line-height: 1.4;
			max-width: 770px;
			margin: 0 auto 28px;
		}

		.entry-post-categories {
			margin: 0 0 18px;
		}

		.entry-post-meta {
			margin: 0 0 47px;
		}
	}
}

@include elementor-breakpoint-down(md) {
	.entry-title {
		font-size: 24px;
	}
}

@include elementor-breakpoint-down(sm) {
	.entry-title {
		font-size: 20px;
	}

	.single-post {
		.entry-footer {
			text-align: center;
		}

		.entry-post-share {
			margin: 20px 0 0;
			text-align: center;
		}
	}

	.entry-author {
		.author-info {
			display: block;
			text-align: center;
		}

		.author-avatar {
			margin: 0 auto 10px;
		}

		.author-description {
			margin: 0;
		}
	}
}

@include media-breakpoint-down(sm) {
	.blog-nav-links {
		.nav-list {
			grid-template-columns: auto;
		}
	}
}

@include media-breakpoint-down(xs) {
	.single-post.page-has-no-sidebar {
		.entry-wrapper {
			padding: 0;
		}
	}
}
