.edumall-wp-widget-courses {
	.course-item {
		+ .course-item {
			border-top: 1px solid #eee;
			padding-top: 20px;
			margin-top: 20px;
		}
	}

	.edumall-box {
		display: flex;
		align-items: flex-start;
	}

	.course-thumbnail {
		position: relative;
		flex-shrink: 0;
		border-radius: 5px;
		overflow: hidden;
		margin: 0 12px 0 0;
		max-width: 45%;
	}

	.course-title {
		font-size: 13px;
		line-height: 22px;
		margin: 0;

		a {
			display: block;
			color: inherit;

			&:hover {
				color: $primary-color;
			}
		}
	}

	.course-category {
		font-size: 11px;
		font-weight: 500;
		text-transform: uppercase;
		letter-spacing: 0.5px;
		color: $text-lighten-color;
		margin: 0 0 3px;

		a {
			color: inherit;

			&:hover {
				color: $primary-color;
			}
		}
	}

	.tutor-course-badge {
		position: absolute;
		top: 5px;
		left: 5px;
		z-index: 1;
	}

	.course-loop-price {
		margin: 5px 0 0;

		.price {
			font-size: 15px;

			del {
				font-size: 12px;
			}
		}
	}
}
