.rtl {
	.edumall-mailchimp-form-style-01 {
		input[type='email'] {
			padding-left: 130px !important;
			padding-right: 20px !important;
		}

		.button-submit {
			right: auto;
			left: 6px;
		}
	}
}
