.rtl {
	.elementor-widget-tm-register-form {
		.icons-on {
			input {
				padding-left: 20px !important;
				padding-right: 42px !important;
			}
		}

		.form-icon {
			left: auto;
			right: 15px;
		}
	}
}
