
.edumall-event.style-grid-02 .edumall-box {
  -webkit-transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}


.edumall-wp-widget-events .event-item + .event-item {
  border-top: 1px solid #eee;
  padding-top: 20px;
  margin-top: 20px;
}

.edumall-wp-widget-events .edumall-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.edumall-wp-widget-events .event-thumbnail {
  position: relative;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  border-radius: 5px;
  overflow: hidden;
  margin: 0 17px 0 0;
  max-width: 45%;
}

.edumall-wp-widget-events .event-title {
  font-size: 14px;
  line-height: 26px;
  margin: 0;
}

.edumall-wp-widget-events .event-category {
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: var(--edumall-color-text-lighten);
  margin: 0 0 5px;
}

.edumall-wp-widget-events .event-category a {
  color: inherit;
}

.edumall-wp-widget-events .event-category a:hover {
  color: var(--edumall-color-primary);
}

.edumall-wp-widget-events .event-date {
  margin: 7px 0 0;
  color: #9b9b9b;
}

.edumall-wp-widget-events .event-price {
  margin: 0 0 5px;
}

.edumall-wp-widget-event-filtering .form-group {
  position: relative;
  margin: 0 0 15px;
}

.edumall-wp-widget-event-filtering .form-icon {
  position: absolute;
  top: 0;
  right: 0;
  height: 52px;
  width: 52px;
  line-height: 52px;
  font-size: 15px;
  color: #9b9b9b;
  text-align: center;
  pointer-events: none;
}

.edumall-wp-widget-event-filtering .form-submit {
  margin: 20px 0 0;
}

.edumall-wp-widget-event-filtering .search-submit {
  padding: 0 20px;
  width: 100%;
}

.event_auth_button {
  padding: 0 41px;
  height: 52px;
  line-height: 50px;
  outline: none;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

.tp-event-notice {
  color: #333 !important;
}

.edumall-event .event-title {
  font-size: 20px;
  line-height: 1.6;
  margin: 0;
}

.edumall-event .event-title a {
  display: block;
}

.edumall-event .event-meta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  line-height: 26px;
  margin: 0 -11px;
}

.edumall-event .event-meta .meta-item {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 11px;
  margin: 0 0 6px;
}

.edumall-event .event-meta .meta-label-icon {
  margin: 0 6px 0 0;
}

.edumall-event .event-image {
  display: block;
}

.edumall-event .event-location {
  margin: 27px 0 0;
}

.edumall-event .event-location span {
  margin: 0 5px 0 0;
}

.edumall-event.style-grid-01 .event-image {
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.edumall-event.style-grid-01 .event-image img {
  width: 100%;
}

.edumall-event.style-grid-01 .event-start-date {
  display: inline-block;
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 12px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  color: #fff;
  border-radius: 3px;
  background: var(--edumall-color-primary);
  padding: 0 10px;
}

.edumall-event.style-grid-01 .event-caption {
  padding: 20px 0 14px;
}

.edumall-event.style-grid-02 .edumall-box {
  display: block;
  background: #f8f8f8;
  border-radius: 5px;
  text-align: center;
}

.edumall-event.style-grid-02 .edumall-box:hover {
  background: #fff;
  box-shadow: 0 0 40px rgba(51, 51, 51, 0.1);
}

.edumall-event.style-grid-02 .event-image {
  position: relative;
  border-top-left-radius: inherit;
  border-top-right-radius: inherit;
  overflow: hidden;
}

.edumall-event.style-grid-02 .event-image img {
  width: 100%;
}

.edumall-event.style-grid-02 .event-caption {
  padding: 21px 20px 35px;
}

.edumall-event.style-grid-02 .event-start-date {
  font-size: 13px;
  font-weight: 500;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: .5px;
  color: #ababab;
  margin: 0 0 6px;
}

.edumall-event.style-grid-02 .event-title {
  font-size: 16px;
  line-height: 1.75;
}

.edumall-event.style-list .grid-item {
  border-bottom: 1px solid #eee;
}

.edumall-event.style-list .edumall-box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 0 30px;
}

.edumall-event.style-list .edumall-image {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 270px;
  max-width: 40%;
  border-radius: 5px;
  margin: 0 30px 0 0;
}

.edumall-event.style-list .event-caption {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.edumall-event.style-list .event-caption-right {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 200px;
  padding: 0 0 0 30px;
}

.edumall-event.style-list .event-price {
  font-size: 18px;
  margin: 12px 0 0;
}

.edumall-event.style-list .event-price .decimals-separator {
  font-size: 77.666667%;
}

.edumall-event.style-list .event-excerpt {
  margin: 16px 0 0;
}

.edumall-event.style-list .event-read-more {
  margin: 27px 0 0;
}

.edumall-event.style-list .event-read-more .tm-button {
  min-width: 170px;
  width: 100%;
}

.page-has-filtering-bar .page-title-bar {
  margin: 0 !important;
}

.page-has-filtering-bar .page-title-bar .page-title-bar-inner {
  padding-bottom: 102px !important;
}

.event-filtering-form-bar {
  padding: 25px 20px 10px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 26px rgba(0, 0, 0, 0.08);
  margin: -51px 0 30px;
  position: relative;
  z-index: 1;
}

.event-filtering-form-bar .event-filtering-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.event-filtering-form-bar .form-group,
.event-filtering-form-bar .form-submit {
  padding: 0 10px;
  margin: 0 0 15px;
}

.event-filtering-form-bar .form-group {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0;
      -ms-flex: 1 1 0px;
          flex: 1 1 0;
  min-width: 170px;
}

.event-filtering-form-bar .form-submit {
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
  width: 210px;
}

@media (min-width: 1200px) {
  .archive-event-style-list.page-has-no-sidebar .page-content > .container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 991px) {
  .edumall-event.style-list .edumall-image {
    width: 150px;
  }
}

@media (max-width: 767px) {
  .edumall-event.style-list .event-caption {
    display: block;
  }
  .edumall-event.style-list .event-title {
    font-size: 18px;
  }
  .edumall-event.style-list .event-caption-right {
    padding: 20px 0 0 !important;
    width: 100%;
  }
  .edumall-event.style-list .event-read-more .tm-button {
    width: auto;
  }
}

@media (max-width: 543px) {
  .edumall-event.style-list .edumall-box {
    display: block;
  }
  .edumall-event.style-list .edumall-image {
    width: 100%;
    max-width: 100%;
    margin: 0 0 20px !important;
  }
  .edumall-event.style-list .event-read-more {
    margin: 18px 0 0;
  }
  .edumall-event.style-list .event-excerpt {
    display: none;
  }
  .edumall-event.style-list .event-title {
    font-size: 16px;
  }
  .event-filtering-form-bar {
    padding: 20px 10px 5px;
  }
  .event-filtering-form-bar .form-submit {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .edumall-event.style-list .event-meta .meta-item {
    width: 100%;
  }
}

.entry-countdown.tp_event_counter {
  overflow: visible;
  background: none;
  padding: 0;
  border: 0;
}

.entry-countdown.tp_event_counter .countdown-row {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: auto;
  padding: 0;
  margin: 0 -5px;
}

.entry-countdown.tp_event_counter .countdown-section {
  float: none;
  font-size: 1em;
  width: auto;
  min-width: 77px;
  height: 77px;
  border: 0;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 0 20px rgba(51, 51, 51, 0.1);
  margin: 5px;
  padding: 5px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.entry-countdown.tp_event_counter .countdown-amount {
  width: auto;
  height: auto;
  font-size: 24px;
  font-weight: 500;
  line-height: 1;
  color: var(--edumall-color-primary);
}

.entry-countdown.tp_event_counter .countdown-period {
  display: block;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .92px;
  color: #7f8d9f;
  margin: 5px 0 0;
}

.single-tp_event .page-content .container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.single-tp_event .entry-title {
  font-size: 40px;
  line-height: 1.4;
}

.single-tp_event .entry-header {
  margin-bottom: 51px;
}

.single-tp_event .entry-thumbnail {
  margin: 0 0 50px;
}

.single-tp_event .entry-thumbnail img {
  border-radius: 5px;
}

.single-tp_event .entry-content {
  margin-top: 0;
}

.single-tp_event .entry-meta {
  margin: 0 -12px;
}

.single-tp_event .entry-meta .meta-item {
  display: inline-block;
  position: relative;
  padding: 0 12px;
  margin-bottom: 5px;
}

.single-tp_event .entry-meta .meta-icon {
  margin-right: 5px;
}

.single-tp_event .event-google-map-canvas {
  background: #eee;
  height: 350px !important;
}

.single-tp_event .entry-register a {
  margin-top: 0;
  margin-bottom: 0;
}

.single-tp_event .entry-register .tm-button {
  width: 100%;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.single-tp_event .event-location-details {
  width: 100%;
  max-width: 340px;
  float: right;
}

.single-tp_event .entry-booking-form-bar {
  padding: 9px 30px 35px;
  background: #fff;
  box-shadow: 0 0 20px rgba(51, 51, 51, 0.1);
  border-radius: 5px;
  width: 100%;
  max-width: 340px;
  float: right;
}

.single-tp_event .entry-booking-form-bar .meta-icon {
  color: #696969;
  min-width: 28px;
  text-align: center;
}

.single-tp_event .entry-booking-form-bar .event_auth_button {
  text-align: center;
  width: 100%;
}

.single-tp_event .entry-booking-form-bar .event-register-message {
  margin: 13px 0 0;
  text-align: center;
}

.single-tp_event .entry-booking-form-bar .event-register-message a {
  color: var(--edumall-color-primary);
  font-weight: 500;
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
}

.single-tp_event .entry-event-info {
  list-style-type: none;
  margin: 0 0 12px;
  padding: 0;
}

.single-tp_event .entry-event-info .event-price {
  font-size: 24px;
  font-weight: 700;
  color: #d31819;
}

.single-tp_event .entry-event-info .event-price .decimals-separator {
  font-size: 18px;
}

.single-tp_event .entry-event-info .meta-label {
  color: var(--edumall-color-heading);
}

.single-tp_event .entry-event-info li {
  margin: 0;
  padding: 14px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.single-tp_event .entry-event-info li.meta-price {
  padding: 8px 0;
}

.single-tp_event .entry-event-info li + li {
  border-top: 1px solid #eee;
}

.single-tp_event .entry-event-info li .meta-label,
.single-tp_event .entry-event-info li .meta-value {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.single-tp_event .entry-event-info li .meta-value {
  text-align: right;
}

.single-tp_event .comments-area {
  margin: 0;
  padding: 0;
}

.single-tp_event .comment-reply-title {
  margin: 0 0 30px;
}

.single-tp_event .logged-in-as,
.single-tp_event .comment-notes {
  display: none;
  text-align: center;
}

.single-tp_event .comment-form textarea {
  height: 150px;
}

.single-tp_event .border-section {
  margin-top: 30px;
  padding-top: 40px;
  border-top: 1px solid #eee;
}

.single-tp_event .entry-speakers .speaker-item {
  text-align: center;
}

.single-tp_event .entry-speakers .speaker-thumbnail {
  margin: 0 0 25px;
}

.single-tp_event .entry-speakers .speaker-thumbnail img {
  width: 170px;
  border-radius: 50%;
}

.single-tp_event .entry-speakers .speaker-name {
  font-size: 15px;
  font-weight: 700;
  line-height: 26px;
  margin: 0 0 5px;
}

.single-tp_event .comment-help-heading {
  font-size: 16px;
  margin: 0 0 12px;
}

.single-tp_event .comment-help-description {
  margin: 0 0 8px;
}

.single-tp_event .comment-help-email {
  font-size: 20px;
  line-height: 32px;
}

.single-tp_event .comment-help-email a {
  color: var(--edumall-color-primary);
}

.single-tp_event.single-event-style-01 .entry-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 29px;
}

.single-tp_event.single-event-style-01 .entry-header-left {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.single-tp_event.single-event-style-01 .entry-header-right {
  padding: 10px 0 0;
  width: 368px;
  -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
          flex-shrink: 0;
}

.single-tp_event.single-event-style-01 .entry-header-right .entry-countdown {
  text-align: right;
}

.single-tp_event.single-event-style-01 .entry-title {
  margin: 0 0 26px;
}

.single-tp_event.single-event-style-01 .entry-event-heading {
  font-size: 20px;
  line-height: 1.6;
  margin: 0 0 26px;
}

.single-tp_event.single-event-style-01 .entry-event-heading-about {
  margin: 0 0 13px;
}

.single-tp_event.single-event-style-01 .event-speakers-description {
  display: none;
}

.single-tp_event.single-event-style-01 .comment-help-col {
  padding-top: 60px;
}

.single-tp_event.single-event-style-02 .page-content {
  margin-top: 68px;
}

.single-tp_event.single-event-style-02 .entry-hero-section {
  position: relative;
  background: #333;
  padding: 77px 0 55px;
}

.single-tp_event.single-event-style-02 .entry-hero-section .tp-event-notice {
  background: #fff !important;
}

.single-tp_event.single-event-style-02 .entry-title {
  color: #fff;
}

.single-tp_event.single-event-style-02 .entry-thumbnail-bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.single-tp_event.single-event-style-02 .entry-thumbnail-bg img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.single-tp_event.single-event-style-02 .entry-thumbnail-bg:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
}

.single-tp_event.single-event-style-02 .entry-hero-content {
  position: relative;
  z-index: 1;
  text-align: center;
  color: #fff;
  width: 970px;
  max-width: 100%;
  margin: 0 auto;
  padding: 15px;
}

.single-tp_event.single-event-style-02 .entry-countdown {
  max-width: 470px;
  margin: 36px auto 0;
}

.single-tp_event.single-event-style-02 .countdown-section {
  background: none;
  border: 0;
}

.single-tp_event.single-event-style-02 .countdown-amount {
  font-size: 34px;
  font-weight: 700;
  line-height: 1;
  color: #fff;
}

.single-tp_event.single-event-style-02 .countdown-period {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .5px;
  color: #fff;
  margin: 11px 0 0;
}

.single-tp_event.single-event-style-02 .entry-date {
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 0 26px;
}

.single-tp_event.single-event-style-02 .entry-meta {
  text-align: center;
}

.single-tp_event.single-event-style-02 .entry-event-heading {
  margin: 0 0 30px;
}

.single-tp_event.single-event-style-02 .entry-event-heading-about {
  margin: 0 0 20px;
}

.single-tp_event.single-event-style-02 .entry-event-heading,
.single-tp_event.single-event-style-02 .comment-reply-title {
  font-size: 40px;
  line-height: 1.4;
  text-align: center;
}

.single-tp_event.single-event-style-02 .border-section {
  margin-top: 50px;
  padding-top: 50px;
}

.single-tp_event.single-event-style-02 .event-speakers-description {
  font-size: 15px;
  line-height: 30px;
  width: 630px;
  max-width: 100%;
  text-align: center;
  margin: 42px auto 0;
}

.single-tp_event.single-event-style-02 .comments-area .comment-form-wrap {
  max-width: 770px;
  margin: 0 auto;
}

.single-tp_event.single-event-style-02 .comment-form-cookies-consent {
  text-align: center;
}

.single-tp_event.single-event-style-02 .comment-form .submit {
  min-width: 195px;
}

.single-tp_event.single-event-style-02 .form-submit {
  text-align: center;
}

.event-google-map-link {
  margin: 8px 0 0;
}

.event-google-map-link a {
  display: inline-block;
  line-height: 26px;
  color: var(--edumall-color-primary);
}

.entry-event-place {
  font-size: 16px;
  line-height: 28px;
  margin: 0 0 12px;
}

.entry-event-contact-info {
  margin: 23px 0 0;
}

.entry-event-contact-info .meta-label {
  display: block;
  font-weight: var(--edumall-typography-headings-font-weight);
  color: #9b9b9b;
  margin: 0 0 4px;
}

.entry-event-contact-info .meta-value {
  font-size: 16px;
  line-height: 28px;
  font-weight: var(--edumall-typography-headings-font-weight);
  color: var(--edumall-color-heading);
}

.entry-event-phone-number {
  margin: 33px 0 0;
}

.entry-event-share {
  margin-top: 20px;
  text-align: center;
}

.entry-event-share .share-list a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ededed;
  margin: 5px 3px;
}

.entry-event-share .share-list a:hover {
  color: #fff;
  background: var(--edumall-color-primary);
  border-color: var(--edumall-color-primary);
}

.event-lightbox-wrap .mfp-content {
  width: 470px !important;
  max-width: 100%;
}

#event-lightbox {
  padding: 25px 30px 35px;
  width: 470px;
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.06);
}

#event-lightbox .event_auth_button {
  width: 100%;
}

.event_register_header {
  text-align: center;
}

.event-popup-title {
  font-size: 16px;
  line-height: 1.42;
  margin-bottom: 26px;
}

.event-popup-date {
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 6px;
}

.event-popup-thumbnail {
  margin-bottom: 30px;
}

.event-popup-thumbnail img {
  border-radius: 5px;
}

.event_auth_form_field {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.event_auth_form_field label {
  margin-right: 10px;
}

.event_auth_payment_methods {
  background: none;
  border-radius: 5px;
  margin: 0;
  padding: 0;
}

.event_register label {
  font-size: 14px;
  font-weight: 700;
  color: #333;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  cursor: pointer;
}

.event_register_foot {
  margin-top: 30px;
  text-align: center;
}

@media (min-width: 1200px) {
  .single-tp_event.single-event-style-01 .comments-section > .row {
    margin-left: -30px;
    margin-right: -30px;
  }
  .single-tp_event.single-event-style-01 .comments-section > .row > [class*=col-] {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 991px) {
  .single-tp_event .entry-title {
    font-size: 34px;
  }
  .single-tp_event .entry-header {
    margin: 0 0 25px;
  }
  .single-tp_event .event-location-details,
  .single-tp_event .entry-booking-form-bar {
    width: 100%;
    max-width: 100%;
    margin: 40px 0 0;
  }
  .single-tp_event.single-event-style-01 .entry-header {
    display: block;
  }
  .single-tp_event.single-event-style-01 .entry-header-right {
    width: 100%;
    padding-top: 20px;
  }
  .single-tp_event.single-event-style-01 .entry-header-right .entry-countdown {
    text-align: left;
  }
  .single-tp_event.single-event-style-02 .entry-hero-section {
    padding: 40px 0 25px;
  }
  .single-tp_event.single-event-style-02 .entry-event-heading,
  .single-tp_event.single-event-style-02 .comment-reply-title {
    font-size: 34px;
  }
}

@media (max-width: 767px) {
  .single-tp_event .entry-title {
    font-size: 28px;
  }
  .single-tp_event.single-event-style-01 .comment-help-col {
    padding-top: 30px;
  }
  .single-tp_event.single-event-style-02 .entry-event-heading,
  .single-tp_event.single-event-style-02 .comment-reply-title {
    font-size: 28px;
  }
}

@media (max-width: 543px) {
  .single-tp_event .entry-title {
    font-size: 22px;
  }
  .single-tp_event.single-event-style-02 .entry-event-heading,
  .single-tp_event.single-event-style-02 .comment-reply-title {
    font-size: 22px;
  }
}
