
.rtl .edumall-wp-widget-course-filter li::after, .rtl .widget_product_categories li::after {
  content: "";
  display: table;
  clear: both;
}

.col-xs-pull-0 {
  right: auto;
  left: auto;
}

.col-xs-pull-1 {
  right: auto;
  left: 8.33333%;
}

.col-xs-pull-2 {
  right: auto;
  left: 16.66667%;
}

.col-xs-pull-3 {
  right: auto;
  left: 25%;
}

.col-xs-pull-4 {
  right: auto;
  left: 33.33333%;
}

.col-xs-pull-5 {
  right: auto;
  left: 41.66667%;
}

.col-xs-pull-6 {
  right: auto;
  left: 50%;
}

.col-xs-pull-7 {
  right: auto;
  left: 58.33333%;
}

.col-xs-pull-8 {
  right: auto;
  left: 66.66667%;
}

.col-xs-pull-9 {
  right: auto;
  left: 75%;
}

.col-xs-pull-10 {
  right: auto;
  left: 83.33333%;
}

.col-xs-pull-11 {
  right: auto;
  left: 91.66667%;
}

.col-xs-pull-12 {
  right: auto;
  left: 100%;
}

.col-xs-push-0 {
  left: auto;
  right: auto;
}

.col-xs-push-1 {
  left: auto;
  right: 8.33333%;
}

.col-xs-push-2 {
  left: auto;
  right: 16.66667%;
}

.col-xs-push-3 {
  left: auto;
  right: 25%;
}

.col-xs-push-4 {
  left: auto;
  right: 33.33333%;
}

.col-xs-push-5 {
  left: auto;
  right: 41.66667%;
}

.col-xs-push-6 {
  left: auto;
  right: 50%;
}

.col-xs-push-7 {
  left: auto;
  right: 58.33333%;
}

.col-xs-push-8 {
  left: auto;
  right: 66.66667%;
}

.col-xs-push-9 {
  left: auto;
  right: 75%;
}

.col-xs-push-10 {
  left: auto;
  right: 83.33333%;
}

.col-xs-push-11 {
  left: auto;
  right: 91.66667%;
}

.col-xs-push-12 {
  left: auto;
  right: 100%;
}

.col-xs-offset-0 {
  margin-left: 0;
  margin-right: 0%;
}

.col-xs-offset-1 {
  margin-left: 0;
  margin-right: 8.33333%;
}

.col-xs-offset-2 {
  margin-left: 0;
  margin-right: 16.66667%;
}

.col-xs-offset-3 {
  margin-left: 0;
  margin-right: 25%;
}

.col-xs-offset-4 {
  margin-left: 0;
  margin-right: 33.33333%;
}

.col-xs-offset-5 {
  margin-left: 0;
  margin-right: 41.66667%;
}

.col-xs-offset-6 {
  margin-left: 0;
  margin-right: 50%;
}

.col-xs-offset-7 {
  margin-left: 0;
  margin-right: 58.33333%;
}

.col-xs-offset-8 {
  margin-left: 0;
  margin-right: 66.66667%;
}

.col-xs-offset-9 {
  margin-left: 0;
  margin-right: 75%;
}

.col-xs-offset-10 {
  margin-left: 0;
  margin-right: 83.33333%;
}

.col-xs-offset-11 {
  margin-left: 0;
  margin-right: 91.66667%;
}

.col-xs-offset-12 {
  margin-left: 0;
  margin-right: 100%;
}

.col-xs-offset-right-0 {
  margin-right: 0;
  margin-left: 0%;
}

.col-xs-offset-right-1 {
  margin-right: 0;
  margin-left: 8.33333%;
}

.col-xs-offset-right-2 {
  margin-right: 0;
  margin-left: 16.66667%;
}

.col-xs-offset-right-3 {
  margin-right: 0;
  margin-left: 25%;
}

.col-xs-offset-right-4 {
  margin-right: 0;
  margin-left: 33.33333%;
}

.col-xs-offset-right-5 {
  margin-right: 0;
  margin-left: 41.66667%;
}

.col-xs-offset-right-6 {
  margin-right: 0;
  margin-left: 50%;
}

.col-xs-offset-right-7 {
  margin-right: 0;
  margin-left: 58.33333%;
}

.col-xs-offset-right-8 {
  margin-right: 0;
  margin-left: 66.66667%;
}

.col-xs-offset-right-9 {
  margin-right: 0;
  margin-left: 75%;
}

.col-xs-offset-right-10 {
  margin-right: 0;
  margin-left: 83.33333%;
}

.col-xs-offset-right-11 {
  margin-right: 0;
  margin-left: 91.66667%;
}

.col-xs-offset-right-12 {
  margin-right: 0;
  margin-left: 100%;
}

@media (min-width: 544px) {
  .col-sm-pull-0 {
    right: auto;
    left: auto;
  }
  .col-sm-pull-1 {
    right: auto;
    left: 8.33333%;
  }
  .col-sm-pull-2 {
    right: auto;
    left: 16.66667%;
  }
  .col-sm-pull-3 {
    right: auto;
    left: 25%;
  }
  .col-sm-pull-4 {
    right: auto;
    left: 33.33333%;
  }
  .col-sm-pull-5 {
    right: auto;
    left: 41.66667%;
  }
  .col-sm-pull-6 {
    right: auto;
    left: 50%;
  }
  .col-sm-pull-7 {
    right: auto;
    left: 58.33333%;
  }
  .col-sm-pull-8 {
    right: auto;
    left: 66.66667%;
  }
  .col-sm-pull-9 {
    right: auto;
    left: 75%;
  }
  .col-sm-pull-10 {
    right: auto;
    left: 83.33333%;
  }
  .col-sm-pull-11 {
    right: auto;
    left: 91.66667%;
  }
  .col-sm-pull-12 {
    right: auto;
    left: 100%;
  }
  .col-sm-push-0 {
    left: auto;
    right: auto;
  }
  .col-sm-push-1 {
    left: auto;
    right: 8.33333%;
  }
  .col-sm-push-2 {
    left: auto;
    right: 16.66667%;
  }
  .col-sm-push-3 {
    left: auto;
    right: 25%;
  }
  .col-sm-push-4 {
    left: auto;
    right: 33.33333%;
  }
  .col-sm-push-5 {
    left: auto;
    right: 41.66667%;
  }
  .col-sm-push-6 {
    left: auto;
    right: 50%;
  }
  .col-sm-push-7 {
    left: auto;
    right: 58.33333%;
  }
  .col-sm-push-8 {
    left: auto;
    right: 66.66667%;
  }
  .col-sm-push-9 {
    left: auto;
    right: 75%;
  }
  .col-sm-push-10 {
    left: auto;
    right: 83.33333%;
  }
  .col-sm-push-11 {
    left: auto;
    right: 91.66667%;
  }
  .col-sm-push-12 {
    left: auto;
    right: 100%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
    margin-right: 0%;
  }
  .col-sm-offset-1 {
    margin-left: 0;
    margin-right: 8.33333%;
  }
  .col-sm-offset-2 {
    margin-left: 0;
    margin-right: 16.66667%;
  }
  .col-sm-offset-3 {
    margin-left: 0;
    margin-right: 25%;
  }
  .col-sm-offset-4 {
    margin-left: 0;
    margin-right: 33.33333%;
  }
  .col-sm-offset-5 {
    margin-left: 0;
    margin-right: 41.66667%;
  }
  .col-sm-offset-6 {
    margin-left: 0;
    margin-right: 50%;
  }
  .col-sm-offset-7 {
    margin-left: 0;
    margin-right: 58.33333%;
  }
  .col-sm-offset-8 {
    margin-left: 0;
    margin-right: 66.66667%;
  }
  .col-sm-offset-9 {
    margin-left: 0;
    margin-right: 75%;
  }
  .col-sm-offset-10 {
    margin-left: 0;
    margin-right: 83.33333%;
  }
  .col-sm-offset-11 {
    margin-left: 0;
    margin-right: 91.66667%;
  }
  .col-sm-offset-12 {
    margin-left: 0;
    margin-right: 100%;
  }
  .col-sm-offset-right-0 {
    margin-right: 0;
    margin-left: 0%;
  }
  .col-sm-offset-right-1 {
    margin-right: 0;
    margin-left: 8.33333%;
  }
  .col-sm-offset-right-2 {
    margin-right: 0;
    margin-left: 16.66667%;
  }
  .col-sm-offset-right-3 {
    margin-right: 0;
    margin-left: 25%;
  }
  .col-sm-offset-right-4 {
    margin-right: 0;
    margin-left: 33.33333%;
  }
  .col-sm-offset-right-5 {
    margin-right: 0;
    margin-left: 41.66667%;
  }
  .col-sm-offset-right-6 {
    margin-right: 0;
    margin-left: 50%;
  }
  .col-sm-offset-right-7 {
    margin-right: 0;
    margin-left: 58.33333%;
  }
  .col-sm-offset-right-8 {
    margin-right: 0;
    margin-left: 66.66667%;
  }
  .col-sm-offset-right-9 {
    margin-right: 0;
    margin-left: 75%;
  }
  .col-sm-offset-right-10 {
    margin-right: 0;
    margin-left: 83.33333%;
  }
  .col-sm-offset-right-11 {
    margin-right: 0;
    margin-left: 91.66667%;
  }
  .col-sm-offset-right-12 {
    margin-right: 0;
    margin-left: 100%;
  }
}

@media (min-width: 768px) {
  .col-md-pull-0 {
    right: auto;
    left: auto;
  }
  .col-md-pull-1 {
    right: auto;
    left: 8.33333%;
  }
  .col-md-pull-2 {
    right: auto;
    left: 16.66667%;
  }
  .col-md-pull-3 {
    right: auto;
    left: 25%;
  }
  .col-md-pull-4 {
    right: auto;
    left: 33.33333%;
  }
  .col-md-pull-5 {
    right: auto;
    left: 41.66667%;
  }
  .col-md-pull-6 {
    right: auto;
    left: 50%;
  }
  .col-md-pull-7 {
    right: auto;
    left: 58.33333%;
  }
  .col-md-pull-8 {
    right: auto;
    left: 66.66667%;
  }
  .col-md-pull-9 {
    right: auto;
    left: 75%;
  }
  .col-md-pull-10 {
    right: auto;
    left: 83.33333%;
  }
  .col-md-pull-11 {
    right: auto;
    left: 91.66667%;
  }
  .col-md-pull-12 {
    right: auto;
    left: 100%;
  }
  .col-md-push-0 {
    left: auto;
    right: auto;
  }
  .col-md-push-1 {
    left: auto;
    right: 8.33333%;
  }
  .col-md-push-2 {
    left: auto;
    right: 16.66667%;
  }
  .col-md-push-3 {
    left: auto;
    right: 25%;
  }
  .col-md-push-4 {
    left: auto;
    right: 33.33333%;
  }
  .col-md-push-5 {
    left: auto;
    right: 41.66667%;
  }
  .col-md-push-6 {
    left: auto;
    right: 50%;
  }
  .col-md-push-7 {
    left: auto;
    right: 58.33333%;
  }
  .col-md-push-8 {
    left: auto;
    right: 66.66667%;
  }
  .col-md-push-9 {
    left: auto;
    right: 75%;
  }
  .col-md-push-10 {
    left: auto;
    right: 83.33333%;
  }
  .col-md-push-11 {
    left: auto;
    right: 91.66667%;
  }
  .col-md-push-12 {
    left: auto;
    right: 100%;
  }
  .col-md-offset-0 {
    margin-left: 0;
    margin-right: 0%;
  }
  .col-md-offset-1 {
    margin-left: 0;
    margin-right: 8.33333%;
  }
  .col-md-offset-2 {
    margin-left: 0;
    margin-right: 16.66667%;
  }
  .col-md-offset-3 {
    margin-left: 0;
    margin-right: 25%;
  }
  .col-md-offset-4 {
    margin-left: 0;
    margin-right: 33.33333%;
  }
  .col-md-offset-5 {
    margin-left: 0;
    margin-right: 41.66667%;
  }
  .col-md-offset-6 {
    margin-left: 0;
    margin-right: 50%;
  }
  .col-md-offset-7 {
    margin-left: 0;
    margin-right: 58.33333%;
  }
  .col-md-offset-8 {
    margin-left: 0;
    margin-right: 66.66667%;
  }
  .col-md-offset-9 {
    margin-left: 0;
    margin-right: 75%;
  }
  .col-md-offset-10 {
    margin-left: 0;
    margin-right: 83.33333%;
  }
  .col-md-offset-11 {
    margin-left: 0;
    margin-right: 91.66667%;
  }
  .col-md-offset-12 {
    margin-left: 0;
    margin-right: 100%;
  }
  .col-md-offset-right-0 {
    margin-right: 0;
    margin-left: 0%;
  }
  .col-md-offset-right-1 {
    margin-right: 0;
    margin-left: 8.33333%;
  }
  .col-md-offset-right-2 {
    margin-right: 0;
    margin-left: 16.66667%;
  }
  .col-md-offset-right-3 {
    margin-right: 0;
    margin-left: 25%;
  }
  .col-md-offset-right-4 {
    margin-right: 0;
    margin-left: 33.33333%;
  }
  .col-md-offset-right-5 {
    margin-right: 0;
    margin-left: 41.66667%;
  }
  .col-md-offset-right-6 {
    margin-right: 0;
    margin-left: 50%;
  }
  .col-md-offset-right-7 {
    margin-right: 0;
    margin-left: 58.33333%;
  }
  .col-md-offset-right-8 {
    margin-right: 0;
    margin-left: 66.66667%;
  }
  .col-md-offset-right-9 {
    margin-right: 0;
    margin-left: 75%;
  }
  .col-md-offset-right-10 {
    margin-right: 0;
    margin-left: 83.33333%;
  }
  .col-md-offset-right-11 {
    margin-right: 0;
    margin-left: 91.66667%;
  }
  .col-md-offset-right-12 {
    margin-right: 0;
    margin-left: 100%;
  }
}

@media (min-width: 992px) {
  .col-lg-pull-0 {
    right: auto;
    left: auto;
  }
  .col-lg-pull-1 {
    right: auto;
    left: 8.33333%;
  }
  .col-lg-pull-2 {
    right: auto;
    left: 16.66667%;
  }
  .col-lg-pull-3 {
    right: auto;
    left: 25%;
  }
  .col-lg-pull-4 {
    right: auto;
    left: 33.33333%;
  }
  .col-lg-pull-5 {
    right: auto;
    left: 41.66667%;
  }
  .col-lg-pull-6 {
    right: auto;
    left: 50%;
  }
  .col-lg-pull-7 {
    right: auto;
    left: 58.33333%;
  }
  .col-lg-pull-8 {
    right: auto;
    left: 66.66667%;
  }
  .col-lg-pull-9 {
    right: auto;
    left: 75%;
  }
  .col-lg-pull-10 {
    right: auto;
    left: 83.33333%;
  }
  .col-lg-pull-11 {
    right: auto;
    left: 91.66667%;
  }
  .col-lg-pull-12 {
    right: auto;
    left: 100%;
  }
  .col-lg-push-0 {
    left: auto;
    right: auto;
  }
  .col-lg-push-1 {
    left: auto;
    right: 8.33333%;
  }
  .col-lg-push-2 {
    left: auto;
    right: 16.66667%;
  }
  .col-lg-push-3 {
    left: auto;
    right: 25%;
  }
  .col-lg-push-4 {
    left: auto;
    right: 33.33333%;
  }
  .col-lg-push-5 {
    left: auto;
    right: 41.66667%;
  }
  .col-lg-push-6 {
    left: auto;
    right: 50%;
  }
  .col-lg-push-7 {
    left: auto;
    right: 58.33333%;
  }
  .col-lg-push-8 {
    left: auto;
    right: 66.66667%;
  }
  .col-lg-push-9 {
    left: auto;
    right: 75%;
  }
  .col-lg-push-10 {
    left: auto;
    right: 83.33333%;
  }
  .col-lg-push-11 {
    left: auto;
    right: 91.66667%;
  }
  .col-lg-push-12 {
    left: auto;
    right: 100%;
  }
  .col-lg-offset-0 {
    margin-left: 0;
    margin-right: 0%;
  }
  .col-lg-offset-1 {
    margin-left: 0;
    margin-right: 8.33333%;
  }
  .col-lg-offset-2 {
    margin-left: 0;
    margin-right: 16.66667%;
  }
  .col-lg-offset-3 {
    margin-left: 0;
    margin-right: 25%;
  }
  .col-lg-offset-4 {
    margin-left: 0;
    margin-right: 33.33333%;
  }
  .col-lg-offset-5 {
    margin-left: 0;
    margin-right: 41.66667%;
  }
  .col-lg-offset-6 {
    margin-left: 0;
    margin-right: 50%;
  }
  .col-lg-offset-7 {
    margin-left: 0;
    margin-right: 58.33333%;
  }
  .col-lg-offset-8 {
    margin-left: 0;
    margin-right: 66.66667%;
  }
  .col-lg-offset-9 {
    margin-left: 0;
    margin-right: 75%;
  }
  .col-lg-offset-10 {
    margin-left: 0;
    margin-right: 83.33333%;
  }
  .col-lg-offset-11 {
    margin-left: 0;
    margin-right: 91.66667%;
  }
  .col-lg-offset-12 {
    margin-left: 0;
    margin-right: 100%;
  }
  .col-lg-offset-right-0 {
    margin-right: 0;
    margin-left: 0%;
  }
  .col-lg-offset-right-1 {
    margin-right: 0;
    margin-left: 8.33333%;
  }
  .col-lg-offset-right-2 {
    margin-right: 0;
    margin-left: 16.66667%;
  }
  .col-lg-offset-right-3 {
    margin-right: 0;
    margin-left: 25%;
  }
  .col-lg-offset-right-4 {
    margin-right: 0;
    margin-left: 33.33333%;
  }
  .col-lg-offset-right-5 {
    margin-right: 0;
    margin-left: 41.66667%;
  }
  .col-lg-offset-right-6 {
    margin-right: 0;
    margin-left: 50%;
  }
  .col-lg-offset-right-7 {
    margin-right: 0;
    margin-left: 58.33333%;
  }
  .col-lg-offset-right-8 {
    margin-right: 0;
    margin-left: 66.66667%;
  }
  .col-lg-offset-right-9 {
    margin-right: 0;
    margin-left: 75%;
  }
  .col-lg-offset-right-10 {
    margin-right: 0;
    margin-left: 83.33333%;
  }
  .col-lg-offset-right-11 {
    margin-right: 0;
    margin-left: 91.66667%;
  }
  .col-lg-offset-right-12 {
    margin-right: 0;
    margin-left: 100%;
  }
}

@media (min-width: 1200px) {
  .col-xl-pull-0 {
    right: auto;
    left: auto;
  }
  .col-xl-pull-1 {
    right: auto;
    left: 8.33333%;
  }
  .col-xl-pull-2 {
    right: auto;
    left: 16.66667%;
  }
  .col-xl-pull-3 {
    right: auto;
    left: 25%;
  }
  .col-xl-pull-4 {
    right: auto;
    left: 33.33333%;
  }
  .col-xl-pull-5 {
    right: auto;
    left: 41.66667%;
  }
  .col-xl-pull-6 {
    right: auto;
    left: 50%;
  }
  .col-xl-pull-7 {
    right: auto;
    left: 58.33333%;
  }
  .col-xl-pull-8 {
    right: auto;
    left: 66.66667%;
  }
  .col-xl-pull-9 {
    right: auto;
    left: 75%;
  }
  .col-xl-pull-10 {
    right: auto;
    left: 83.33333%;
  }
  .col-xl-pull-11 {
    right: auto;
    left: 91.66667%;
  }
  .col-xl-pull-12 {
    right: auto;
    left: 100%;
  }
  .col-xl-push-0 {
    left: auto;
    right: auto;
  }
  .col-xl-push-1 {
    left: auto;
    right: 8.33333%;
  }
  .col-xl-push-2 {
    left: auto;
    right: 16.66667%;
  }
  .col-xl-push-3 {
    left: auto;
    right: 25%;
  }
  .col-xl-push-4 {
    left: auto;
    right: 33.33333%;
  }
  .col-xl-push-5 {
    left: auto;
    right: 41.66667%;
  }
  .col-xl-push-6 {
    left: auto;
    right: 50%;
  }
  .col-xl-push-7 {
    left: auto;
    right: 58.33333%;
  }
  .col-xl-push-8 {
    left: auto;
    right: 66.66667%;
  }
  .col-xl-push-9 {
    left: auto;
    right: 75%;
  }
  .col-xl-push-10 {
    left: auto;
    right: 83.33333%;
  }
  .col-xl-push-11 {
    left: auto;
    right: 91.66667%;
  }
  .col-xl-push-12 {
    left: auto;
    right: 100%;
  }
  .col-xl-offset-0 {
    margin-left: 0;
    margin-right: 0%;
  }
  .col-xl-offset-1 {
    margin-left: 0;
    margin-right: 8.33333%;
  }
  .col-xl-offset-2 {
    margin-left: 0;
    margin-right: 16.66667%;
  }
  .col-xl-offset-3 {
    margin-left: 0;
    margin-right: 25%;
  }
  .col-xl-offset-4 {
    margin-left: 0;
    margin-right: 33.33333%;
  }
  .col-xl-offset-5 {
    margin-left: 0;
    margin-right: 41.66667%;
  }
  .col-xl-offset-6 {
    margin-left: 0;
    margin-right: 50%;
  }
  .col-xl-offset-7 {
    margin-left: 0;
    margin-right: 58.33333%;
  }
  .col-xl-offset-8 {
    margin-left: 0;
    margin-right: 66.66667%;
  }
  .col-xl-offset-9 {
    margin-left: 0;
    margin-right: 75%;
  }
  .col-xl-offset-10 {
    margin-left: 0;
    margin-right: 83.33333%;
  }
  .col-xl-offset-11 {
    margin-left: 0;
    margin-right: 91.66667%;
  }
  .col-xl-offset-12 {
    margin-left: 0;
    margin-right: 100%;
  }
  .col-xl-offset-right-0 {
    margin-right: 0;
    margin-left: 0%;
  }
  .col-xl-offset-right-1 {
    margin-right: 0;
    margin-left: 8.33333%;
  }
  .col-xl-offset-right-2 {
    margin-right: 0;
    margin-left: 16.66667%;
  }
  .col-xl-offset-right-3 {
    margin-right: 0;
    margin-left: 25%;
  }
  .col-xl-offset-right-4 {
    margin-right: 0;
    margin-left: 33.33333%;
  }
  .col-xl-offset-right-5 {
    margin-right: 0;
    margin-left: 41.66667%;
  }
  .col-xl-offset-right-6 {
    margin-right: 0;
    margin-left: 50%;
  }
  .col-xl-offset-right-7 {
    margin-right: 0;
    margin-left: 58.33333%;
  }
  .col-xl-offset-right-8 {
    margin-right: 0;
    margin-left: 66.66667%;
  }
  .col-xl-offset-right-9 {
    margin-right: 0;
    margin-left: 75%;
  }
  .col-xl-offset-right-10 {
    margin-right: 0;
    margin-left: 83.33333%;
  }
  .col-xl-offset-right-11 {
    margin-right: 0;
    margin-left: 91.66667%;
  }
  .col-xl-offset-right-12 {
    margin-right: 0;
    margin-left: 100%;
  }
}

@media (min-width: 1920px) {
  .col-xxl-pull-0 {
    right: auto;
    left: auto;
  }
  .col-xxl-pull-1 {
    right: auto;
    left: 8.33333%;
  }
  .col-xxl-pull-2 {
    right: auto;
    left: 16.66667%;
  }
  .col-xxl-pull-3 {
    right: auto;
    left: 25%;
  }
  .col-xxl-pull-4 {
    right: auto;
    left: 33.33333%;
  }
  .col-xxl-pull-5 {
    right: auto;
    left: 41.66667%;
  }
  .col-xxl-pull-6 {
    right: auto;
    left: 50%;
  }
  .col-xxl-pull-7 {
    right: auto;
    left: 58.33333%;
  }
  .col-xxl-pull-8 {
    right: auto;
    left: 66.66667%;
  }
  .col-xxl-pull-9 {
    right: auto;
    left: 75%;
  }
  .col-xxl-pull-10 {
    right: auto;
    left: 83.33333%;
  }
  .col-xxl-pull-11 {
    right: auto;
    left: 91.66667%;
  }
  .col-xxl-pull-12 {
    right: auto;
    left: 100%;
  }
  .col-xxl-push-0 {
    left: auto;
    right: auto;
  }
  .col-xxl-push-1 {
    left: auto;
    right: 8.33333%;
  }
  .col-xxl-push-2 {
    left: auto;
    right: 16.66667%;
  }
  .col-xxl-push-3 {
    left: auto;
    right: 25%;
  }
  .col-xxl-push-4 {
    left: auto;
    right: 33.33333%;
  }
  .col-xxl-push-5 {
    left: auto;
    right: 41.66667%;
  }
  .col-xxl-push-6 {
    left: auto;
    right: 50%;
  }
  .col-xxl-push-7 {
    left: auto;
    right: 58.33333%;
  }
  .col-xxl-push-8 {
    left: auto;
    right: 66.66667%;
  }
  .col-xxl-push-9 {
    left: auto;
    right: 75%;
  }
  .col-xxl-push-10 {
    left: auto;
    right: 83.33333%;
  }
  .col-xxl-push-11 {
    left: auto;
    right: 91.66667%;
  }
  .col-xxl-push-12 {
    left: auto;
    right: 100%;
  }
  .col-xxl-offset-0 {
    margin-left: 0;
    margin-right: 0%;
  }
  .col-xxl-offset-1 {
    margin-left: 0;
    margin-right: 8.33333%;
  }
  .col-xxl-offset-2 {
    margin-left: 0;
    margin-right: 16.66667%;
  }
  .col-xxl-offset-3 {
    margin-left: 0;
    margin-right: 25%;
  }
  .col-xxl-offset-4 {
    margin-left: 0;
    margin-right: 33.33333%;
  }
  .col-xxl-offset-5 {
    margin-left: 0;
    margin-right: 41.66667%;
  }
  .col-xxl-offset-6 {
    margin-left: 0;
    margin-right: 50%;
  }
  .col-xxl-offset-7 {
    margin-left: 0;
    margin-right: 58.33333%;
  }
  .col-xxl-offset-8 {
    margin-left: 0;
    margin-right: 66.66667%;
  }
  .col-xxl-offset-9 {
    margin-left: 0;
    margin-right: 75%;
  }
  .col-xxl-offset-10 {
    margin-left: 0;
    margin-right: 83.33333%;
  }
  .col-xxl-offset-11 {
    margin-left: 0;
    margin-right: 91.66667%;
  }
  .col-xxl-offset-12 {
    margin-left: 0;
    margin-right: 100%;
  }
  .col-xxl-offset-right-0 {
    margin-right: 0;
    margin-left: 0%;
  }
  .col-xxl-offset-right-1 {
    margin-right: 0;
    margin-left: 8.33333%;
  }
  .col-xxl-offset-right-2 {
    margin-right: 0;
    margin-left: 16.66667%;
  }
  .col-xxl-offset-right-3 {
    margin-right: 0;
    margin-left: 25%;
  }
  .col-xxl-offset-right-4 {
    margin-right: 0;
    margin-left: 33.33333%;
  }
  .col-xxl-offset-right-5 {
    margin-right: 0;
    margin-left: 41.66667%;
  }
  .col-xxl-offset-right-6 {
    margin-right: 0;
    margin-left: 50%;
  }
  .col-xxl-offset-right-7 {
    margin-right: 0;
    margin-left: 58.33333%;
  }
  .col-xxl-offset-right-8 {
    margin-right: 0;
    margin-left: 66.66667%;
  }
  .col-xxl-offset-right-9 {
    margin-right: 0;
    margin-left: 75%;
  }
  .col-xxl-offset-right-10 {
    margin-right: 0;
    margin-left: 83.33333%;
  }
  .col-xxl-offset-right-11 {
    margin-right: 0;
    margin-left: 91.66667%;
  }
  .col-xxl-offset-right-12 {
    margin-right: 0;
    margin-left: 100%;
  }
}


ul {
  padding-left: 0;
  padding-right: 20px;
}

ol {
  padding-left: 0;
  padding-right: 30px;
}

.rtl blockquote {
  margin: 36px 48px 34px 0 !important;
  padding: 0 20px 0 0;
  border-left: 0;
  border-right: 4px solid var(--edumall-color-primary);
}

input[type='checkbox'],
input[type='radio'] {
  margin: 0 3px 0 10px;
}

.rtl .top-bar-info .info-item {
  margin: 0 0 0 15px;
}

.rtl .top-bar-info .info-item + .info-item {
  padding-left: 0;
  padding-right: 15px;
}

.rtl .top-bar-info .info-item + .info-item:before {
  left: auto;
  right: 0;
}

.rtl .top-bar-info .info-icon {
  margin: 0 0 0 5px;
}

.rtl .top-bar-user-links a + a:before {
  left: auto;
  right: 0;
}

.rtl .top-bar-04 .top-bar-right .top-bar-wrap div + div:before {
  left: auto;
  right: 0;
}

.rtl .header-category-menu {
  margin: 0 28px 0 25px;
  padding: 10px 28px 10px 0;
}

.rtl .header-category-menu:before {
  left: auto;
  right: 0;
}

.rtl .header-category-menu .category-toggle-icon {
  margin: 0 0 0 15px;
}

.rtl .header-category-menu .header-category-dropdown-wrap {
  left: auto;
  right: 0;
}

.rtl .header-category-menu .header-category-dropdown-wrap ul .children {
  -webkit-transform: translateX(5px);
      -ms-transform: translateX(5px);
          transform: translateX(5px);
  left: auto;
  right: 100%;
}

.rtl .header-category-menu .header-category-dropdown-wrap ul li > a .toggle-sub-menu {
  right: auto;
  left: 20px;
}

.rtl .header-category-menu .header-category-dropdown-wrap ul li > a .toggle-sub-menu:before {
  content: '\f104' !important;
}

.rtl .header-category-menu ul.course-list .course-thumbnail {
  margin: 0 0 0 12px;
}

.rtl .header-category-menu ul.course-placeholder .course-thumbnail-placeholder {
  margin: 0 0 0 12px;
}

.rtl .header-notification-list {
  right: auto;
  left: -27px;
  padding: 26px 30px 14px 20px;
}

.rtl .header-notification-list:before, .rtl .header-notification-list:after {
  right: auto;
  left: 35px;
}

.rtl .header-notification-list:before {
  -webkit-transform: translateX(-1px);
      -ms-transform: translateX(-1px);
          transform: translateX(-1px);
}

.rtl .notification-list li {
  padding: 0 0 0 15px;
}

.rtl .notification-list .notification-status {
  right: auto;
  left: 0;
}

.rtl .notification-list .notification-avatar {
  margin: 0 0 0 14px;
}

.rtl .notification-footer a i {
  margin: 0 5px 0 0;
}

.rtl .notification-footer a i:before {
  content: '\f104';
}

.rtl .header-search-form .search-field {
  padding-left: 50px;
  padding-right: 20px;
}

.rtl .header-search-form .search-submit {
  left: 0;
  right: auto;
  border-radius: 5px 0 0 5px;
}

.rtl .page-open-components:hover .circle-one {
  -webkit-transform: translateX(-18px);
      -ms-transform: translateX(-18px);
          transform: translateX(-18px);
}

.rtl .page-open-components:hover .circle-three {
  -webkit-transform: translateX(18px);
      -ms-transform: translateX(18px);
          transform: translateX(18px);
}

.rtl .header-user-buttons .inner {
  margin-right: 10px;
  margin-left: -10px;
  padding-left: 0;
  padding-right: 20px;
}

.rtl .header-user-buttons .inner:before {
  right: 0;
  left: auto;
}

.rtl .header-contact-links-box .contact-icon {
  margin: 0 0 0 12px;
}

.rtl .header-user-links-box {
  padding-left: 0 !important;
  padding-right: 30px !important;
}

.rtl .header-user-links-box:before {
  left: auto;
  right: 10px;
}

.rtl .header-user-links-box .user-icon {
  margin: 0 0 0 12px;
}

.rtl.desktop-menu .header-01 .page-navigation {
  padding: 0 0 0 9px;
}

.rtl .header-04 .header-right {
  padding: 0 30px 0 0;
}

.rtl .header-04 .header-right:before {
  left: auto;
  right: 5px;
}

.rtl .insight_core_breadcrumb li + li {
  padding-left: 0;
  padding-right: 30px;
}

.rtl .insight_core_breadcrumb li + li:before {
  left: auto;
  right: 10px;
}

.desktop-menu .toggle-sub-menu:before {
  margin-top: 0;
}

.desktop-menu .sm-simple .children a .toggle-sub-menu {
  left: 0;
  right: auto;
}

.desktop-menu .sm-simple .children a .toggle-sub-menu:before {
  left: 30px;
  right: auto;
  content: '\f053';
}

.page-mobile-menu-header {
  padding: 0 30px 0 15px;
}

.page-mobile-menu-logo {
  text-align: right;
}

.page-mobile-main-menu .menu__container {
  text-align: right;
}

.page-mobile-main-menu .toggle-sub-menu {
  left: 0;
  right: auto;
}

.mobile-menu-push-to-right .page-mobile-main-menu > .inner,
.mobile-menu-slide-to-right .page-mobile-main-menu > .inner {
  float: left;
}

.page-search-popup .search-field {
  padding: 15px 0 15px 50px;
}

.rtl .comment-list .comment-author {
  float: right;
}

.rtl .comment-list .comment-content {
  margin: 0 90px 0 0;
}

.rtl .comment-list .comment-actions a,
.rtl .comment-list .comment-datetime {
  margin: 0 0 0 10px;
}

.rtl .comment-nav-links li .next span,
.rtl .comment-nav-links li .prev span,
.rtl .page-pagination li .next span,
.rtl .page-pagination li .prev span,
.rtl .page-numbers li .next span,
.rtl .page-numbers li .prev span {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.rtl .edumall-nice-select-wrap .edumall-nice-select-current {
  padding: 3px 14px 3px 34px;
}

.rtl .edumall-nice-select-wrap .edumall-nice-select-current:after {
  right: auto;
  left: 15px;
}

.rtl .edumall-nice-select-wrap .edumall-nice-select-current .label {
  margin: 0 0 0 4px;
}

.rtl .edumall-nice-select-wrap .edumall-nice-select-current .label:before {
  margin: 0 0 0 10px;
}

.rtl .edumall-nice-select-wrap .edumall-nice-select li {
  text-align: right;
}

.rtl .edumall-nice-select-wrap .edumall-nice-select li:before {
  left: auto;
  right: 10px;
}

.tm-swiper .swiper-slide {
  text-align: right;
}

.tm-swiper .swiper-button-prev i:before {
  content: '\f105';
}

.tm-swiper .swiper-button-next i:before {
  content: '\f104';
}

.rtl .select2.select2-container .select2-selection__rendered {
  padding: 0 20px 0 35px !important;
}

.rtl .select2.select2-container.select2-container--default .select2-selection--single .select2-selection__arrow {
  right: auto;
  left: 15px;
}

.rtl .select2-container .select2-search--dropdown:after {
  left: 40px;
  right: auto;
}

.rtl .quantity .qty {
  padding: 2px 10px 2px 30px;
}

.rtl .quantity button {
  right: auto;
  left: 0;
}

.rtl .ui-datepicker .ui-datepicker-title select {
  background-position: 5px center;
}

.rtl .archive-layout-switcher .archive-layout-switcher-label {
  margin: 0 0 0 7px;
}

.rtl .tm-button.btn-toggle-archive-top-filters .button-content-wrapper:after {
  margin: 0 18px 0 0;
}

.rtl .archive-top-filter-content .widget-content {
  padding: 0 0 0 10px;
}

.rtl .home-blog-by-cat-section .tm-button .fa-long-arrow-right:before {
  content: '\f177';
}

.rtl.home-blog-special-layout .popular-articles .swiper-slide {
  padding-right: 0 !important;
  padding-left: 30px !important;
}

.rtl.home-blog-special-layout .home-blog-by-cat-section .swiper-slide {
  padding-right: 0 !important;
  padding-left: 30px !important;
}

.rtl .entry-post-meta .meta-icon {
  margin-left: 6px;
  margin-right: 0;
}

.rtl .entry-post-meta .post-meta-author img {
  margin-left: 6px;
  margin-right: 0;
}

.rtl .entry-post-tags .tag-label {
  margin: 0 0 0 7px;
}

.rtl .entry-post-share {
  text-align: left;
}

.rtl .post-share.style-01 .share-label {
  margin: 0 0 0 12px;
}

.rtl .post-share.style-02 .share-label {
  margin: 0 0 0 12px;
}

.rtl .blog-nav-links .prev h6 {
  padding: 20px 50px 20px 30px;
}

.rtl .blog-nav-links .prev h6:before {
  left: auto;
  right: 20px;
  content: '\f105';
}

.rtl .blog-nav-links .next h6 {
  text-align: left;
  padding: 20px 30px 20px 50px;
}

.rtl .blog-nav-links .next h6:before {
  right: auto;
  left: 20px;
  content: '\f104';
}

.rtl .entry-author .author-description {
  margin: 0 10px 0 0;
}

.rtl .single_add_to_cart_button i,
.rtl a.tutor-button i,
.rtl .tutor-button i,
.rtl a.tutor-btn i,
.rtl .tutor-btn i {
  margin: 0 0 0 10px;
}

.rtl .edumall-wp-widget-course-filter ul.filter-checkbox-list a {
  padding: 0 30px 0 0;
}

.rtl .edumall-wp-widget-course-filter ul.filter-checkbox-list a:before, .rtl .edumall-wp-widget-course-filter ul.filter-checkbox-list a:after {
  left: auto;
  right: 0;
}

.rtl .edumall-wp-widget-course-filter ul.filter-radio-list a {
  padding: 0 30px 0 0;
}

.rtl .edumall-wp-widget-course-filter ul.filter-radio-list a:before, .rtl .edumall-wp-widget-course-filter ul.filter-radio-list a:after {
  left: auto;
  right: 0;
}

.rtl .edumall-wp-widget-course-filter ul.filter-radio-list a:after {
  -webkit-transform: translate(-4px, 4px);
      -ms-transform: translate(-4px, 4px);
          transform: translate(-4px, 4px);
}

.rtl .edumall-wp-widget-course-filter .count {
  float: left;
  margin: 0 5px 0 0;
}

.rtl .edumall-wp-widget-courses .course-thumbnail {
  margin: 0 0 0 12px;
}

.rtl .edumall-wp-widget-courses .tutor-course-badge {
  left: auto;
  right: 5px;
}

.rtl .edumall-course-category-cards.style-01 .category-icon, .rtl .edumall-course-category-cards.style-02 .category-icon {
  margin: 0 0 0 10px;
}

.rtl .edumall-course-category-cards.style-01 .category-name:after, .rtl .edumall-course-category-cards.style-02 .category-name:after {
  content: '\f104';
  right: auto;
  left: -15px;
}

.rtl .edumall-course-languages .course-language-flag {
  margin: 0 0 0 11px;
}

.rtl .course-loop-badges {
  left: auto;
  right: 10px;
}

.rtl .tutor-course-badge {
  margin: 0 0 3px 5px;
}

.rtl .course-loop-meta .meta-label-icon {
  margin: 0 0 0 6px;
}

.rtl .course-loop-meta.style-01 .course-loop-meta-list {
  margin: 0 -10px 0 -14px;
}

.rtl .course-loop-meta.style-01 .course-loop-meta-item {
  padding: 0 10px 0 14px;
}

.rtl .course-loop-meta.style-01 .course-loop-meta-item + .course-loop-meta-item:before {
  left: auto;
  right: -4px;
}

.rtl .course-loop-rating .rating-count {
  margin: 0 5px 0 0;
}

.rtl .course-loop-rating-average .tm-star-rating {
  margin: 0 0 0 5px;
}

.rtl .course-loop-rating-average-02 .course-rating-average .rating-total {
  margin: 0 5px 0 0;
}

.rtl .edumall-courses.style-carousel-03 .course-footer-meta-item .lead-meta-label {
  margin: 0 0 0 8px;
}

.rtl .edumall-courses.style-carousel-03 .course-loop-price {
  left: auto;
  right: 0;
}

.rtl .edumall-courses.style-carousel-03 .tutor-price {
  border-radius: 0 5px 0 5px;
}

.rtl .edumall-courses.style-list .tutor-course-header {
  margin: 0 0 0 30px;
}

.rtl .edumall-courses.style-list .course-loop-info {
  padding: 0 0 0 130px;
}

.rtl .edumall-courses.style-list .course-loop-footer {
  right: auto;
  left: 0;
  text-align: left;
}

.rtl .edumall-courses.style-list .course-loop-buttons > * {
  margin: 10px 0 0 10px;
}

.rtl .edumall-courses.style-list-02 .tutor-course-header {
  margin: 0 0 0 30px;
}

.rtl .edumall-courses.style-list-02 .course-loop-info {
  padding: 0 0 0 130px;
}

.rtl .edumall-courses.style-list-02 .course-loop-footer {
  right: auto;
  left: 0;
  text-align: left;
}

.rtl .edumall-courses.style-list-02 .course-loop-buttons > * {
  margin: 10px 0 0 10px;
}

.rtl .archive-tabs-section.edumall-tabpanel .edumall-nav-tabs {
  text-align: right;
}

.rtl .popular-instructor-rating .tm-star-rating {
  margin: 0 0 0 5px;
}

.rtl .popular-instructor-avatar {
  margin: 0 0 0 16px;
}

.rtl .popular-instructor-footer .meta-icon {
  margin: 0 0 0 4px;
}

.rtl .tutor-course-badges-wrap .tutor-course-badges {
  margin: 0 0 0 10px;
}

.rtl .tutor-course-badges-wrap .tutor-course-badge {
  margin: 0 0 10px 10px;
}

.rtl .tutor-single-course-lead-meta .lead-meta-label {
  margin: 0 0 0 14px;
}

.rtl .tutor-single-course-lead-meta .lead-meta-item + .lead-meta-item:before {
  left: auto;
  right: 0;
}

.rtl .prerequisites-course-lists li:first-child {
  padding: 13px 58px 13px 20px;
}

.rtl .prerequisites-course-lists li:first-child > span {
  left: auto;
  right: 20px;
}

.rtl .prerequisites-course-lists li .prerequisites-course-title {
  padding: 0 15px 0 0;
}

.rtl .tutor-course-tags-wrap .course-tags-title {
  margin: 0 0 0 11px;
}

.rtl .tutor-course-benefits-wrap .benefit-content {
  padding: 0 31px 0 0;
}

.rtl .tutor-course-benefits-wrap .benefit-icon {
  left: auto;
  right: 0;
  margin: 0 0 0 10px;
}

.rtl .tutor-course-target-audience-items li {
  padding: 0 23px 0 0;
}

.rtl .tutor-course-target-audience-items li:before {
  left: auto;
  right: 0;
  content: '\f30a';
}

.rtl .tutor-course-topics-header .tutor-course-topics-header-right span:not(:first-child) {
  margin: 0 45px 0 0;
}

.rtl .tutor-course-lesson h5 i {
  margin-left: 5px;
}

.rtl .single-instructor-wrap .instructor-avatar {
  margin: 0 0 0 30px;
}

.rtl .single-instructor-wrap .instructor-ratings .tm-star-rating {
  margin: 0 0 0 5px;
}

.rtl .single-instructor-wrap .instructor-meta .meta-icon {
  margin: 0 0 0 2px;
}

.rtl .single-instructor-wrap .instructor-profile-url span {
  margin: 0 0 0 5px;
}

.rtl .tutor-price-preview-box .tutor-price > .price {
  margin: 0 0 0 10px;
}

.rtl .tutor-price-preview-box .price ins + del {
  margin: 0 18px 0 0;
}

.rtl .tutor-price-preview-box .tutor-meta-top > div .meta-icon {
  margin: 0 0 0 4px;
}

.rtl .tutor-price-preview-box .tutor-meta-top > div .meta-value {
  text-align: left;
}

.rtl .tutor-price-preview-box .tutor-course-purchase-box button i {
  margin-right: 0;
}

.rtl .tutor-course-form-actions button,
.rtl .tutor-course-form-actions .tm-button,
.rtl .tutor-course-form-actions .tutor-button {
  margin: 10px 0 0 24px;
}

.rtl .tutor-attachments-wrap .tutor-lesson-attachment {
  padding: 10px 12px 10px 16px;
}

.rtl .tutor-attachments-wrap .tutor-attachment-info {
  padding: 0 15px 0 0;
}

.rtl .tutor-dashboard-header-avatar {
  margin: 0 0 0 24px;
}

.rtl .branding-logo-wrap a {
  float: right;
}

.rtl.dashboard-page.dashboard-nav-fixed {
  margin-left: 0;
  margin-right: 320px;
}

.rtl .tutor-dashboard-permalinks li a:before {
  margin: 0 0 0 6px;
}

.rtl .tutor-dashboard-left-menu {
  left: auto;
  right: 0;
}

.rtl .dashboard-info-card-box {
  padding: 38px 29px 38px 20px;
}

@media (min-width: 1200px) {
  .rtl .dashboard-info-card-icon {
    margin: 0 0 0 48px;
  }
}

.rtl .edumall-wp-widget-events .event-thumbnail {
  margin: 0 0 0 17px;
}

.rtl .edumall-event .event-location span {
  margin: 0 0 0 5px;
}

.rtl .edumall-event .event-meta .meta-label-icon {
  margin: 0 0 0 6px;
}

.rtl .edumall-event.style-grid-01 .event-start-date {
  left: auto;
  right: 10px;
}

.rtl .edumall-event.style-list .edumall-image {
  margin: 0 0 0 30px;
}

.rtl .edumall-event.style-list .event-caption-right {
  padding: 0 30px 0 0;
}

.rtl .edumall-wp-widget-event-filtering .form-icon {
  right: auto;
  left: 0;
}

.single-tp_event .entry-meta .meta-icon {
  margin: 0 0 0 5px;
}

.single-tp_event .entry-event-info li .meta-value {
  text-align: left;
}

.event_auth_form_field label {
  text-align: right;
  margin: 0 0 0 10px;
}

.event_auth_payment_methods {
  text-align: right;
}

.single-tp_event .event-location-details {
  float: left;
}

.single-tp_event .entry-booking-form-bar {
  float: left;
}

.single-tp_event.single-event-style-01 .entry-header-right .entry-countdown {
  text-align: left;
}

.rtl .edumall-zoom-meetings .zvc-meta {
  margin-left: 20px;
  margin-right: 0;
}

.rtl .edumall-zoom-meetings .zvc-loop-meta .meta-icon {
  margin-left: 4px;
  margin-right: 0;
}

.rtl .edumall-zoom-meetings .zvc-loop-zoom-id .label {
  margin: 0 0 0 4px;
}

.rtl .dpn-zvc-single-content-wrapper .dpn-zvc-sidebar-wrapper .dpn-zvc-sidebar-content-list .value {
  text-align: left;
}

.rtl.woocommerce .col2-set .col-1, .rtl.woocommerce-page .col2-set .col-1 {
  float: right;
}

.rtl.woocommerce .col2-set .col-2, .rtl.woocommerce-page .col2-set .col-2 {
  float: left;
}

.rtl .woosw-content-item--price del + ins,
.rtl .woosw-content-item--price ins + del,
.rtl .tr-price del + ins,
.rtl .tr-price ins + del,
.rtl .price del + ins,
.rtl .price ins + del {
  margin: 0 8px 0 0;
}

.rtl .mini-cart .widget_shopping_cart_content {
  right: auto;
  left: 0;
}

.rtl .mini-cart .widget_shopping_cart_content li > a:not(.remove) {
  padding-right: 0;
  padding-left: 20px;
}

.rtl .mini-cart .widget_shopping_cart_content .total .amount {
  float: left;
}

.rtl .cart_list.product_list_widget li {
  padding: 0 0 0 20px;
}

.rtl .cart_list.product_list_widget li .remove {
  right: auto;
  left: 0;
}

.rtl .cart_list.product_list_widget li .product-thumbnail {
  margin: 0 0 0 10px;
}

.rtl .cart_list.product_list_widget li img {
  float: right;
  margin: 0 0 0 20px;
}

.rtl .widget_product_categories li a {
  padding: 0 30px 0 0;
}

.rtl .widget_product_categories li a:before, .rtl .widget_product_categories li a:after {
  left: auto;
  right: 0;
}

.rtl .widget_product_categories li a:after {
  right: 2px;
}

.rtl .widget_product_categories .count {
  float: left;
  margin: 0 5px 0 0;
}

.rtl .product_list_widget li img {
  margin: 0 0 0 15px;
}

.rtl form.isw-swatches.isw-swatches--in-single .isw-swatch--isw_text .isw-term {
  margin: 7px 0 7px 10px;
}

.rtl .entry-meta-review-rating .inner > div + div:before {
  left: auto;
  right: 0;
}

.rtl .review-rating-average {
  margin: 0 0 0 8px;
}

.rtl .woocommerce-review-link {
  margin: 0 8px 0 0;
}

.rtl .woocommerce-tabs .tabs li {
  margin: 0 0 0 44px;
}

.rtl.single-product .woocommerce-variation-price {
  margin: 0 0 0 10px;
}

.rtl.single-product form.cart .variations .label {
  padding: 10px 0 10px 15px;
}

.rtl.single-product form.cart .quantity-button-wrapper > label {
  padding: 0 0 0 15px;
}

.rtl.single-product form.cart .single_add_to_cart_button,
.rtl.single-product form.cart .product-action {
  margin-right: 0;
  margin-left: 11px;
}

.rtl.single-product form.cart div.quantity {
  margin: 0 0 0 18px;
}

.rtl.single-product .reset_variations:before {
  margin: 0 0 0 6px;
}

.rtl .woocommerce-product-attributes th, .rtl .woocommerce-product-attributes td {
  padding: 5px 11px 5px 20px;
}

.rtl .woocommerce-product-attributes th:before {
  left: auto;
  right: 0;
}

.rtl.single-product .comment .product-comment-rating {
  margin: 0 0 0 16px;
}

.rtl .comment-form-rating .stars {
  margin: 0 26px 0 0 !important;
}

.rtl.woocommerce-cart .shop_table th, .rtl.woocommerce-cart .shop_table td {
  text-align: right;
}

.rtl.woocommerce-cart .shop_table.cart th, .rtl.woocommerce-cart .shop_table.cart td {
  padding-left: 10px;
  padding-right: 0;
}

.rtl.woocommerce-cart .shop_table.cart th:first-child, .rtl.woocommerce-cart .shop_table.cart td:first-child {
  padding-left: 10px;
  padding-right: 30px;
}

.rtl.woocommerce-cart .shop_table.cart th:last-child, .rtl.woocommerce-cart .shop_table.cart td:last-child {
  padding-left: 30px;
  padding-right: 0;
}

.rtl.woocommerce-cart .shop_table.cart .coupon .button,
.rtl.woocommerce-cart .shop_table.cart .coupon .input-text {
  margin: 0 0 10px 10px;
}

.rtl.woocommerce-cart .cart-collaterals .shop_table td {
  text-align: left;
}

.rtl.woocommerce-cart .btn-empty-cart,
.rtl.woocommerce-cart .btn-continue-shopping {
  margin-right: 0;
  margin-left: 20px;
}

.rtl .btn-empty-cart {
  margin-left: 10px;
  margin-right: 0;
}

.rtl.woocommerce-checkout .shop_table .coupon .button,
.rtl.woocommerce-checkout .shop_table .coupon .input-text {
  margin: 0 0 10px 10px;
}

.rtl.woocommerce-checkout .checkout_coupon .form-row {
  float: right !important;
  padding-right: 0;
  padding-left: 10px;
}

.rtl .woocommerce-order-details {
  margin: 0 30px 0 0;
}

.rtl .woocommerce-order-details .shop_table th, .rtl .woocommerce-order-details .shop_table td {
  text-align: right;
  padding: 11px 0 11px 10px;
}

.rtl .woocommerce-order-details .shop_table tbody td {
  padding: 20px 0 20px 10px;
}

.rtl .woocommerce-order-details .shop_table td:last-child {
  padding-right: 10px;
  padding-left: 0;
}

.rtl .woocommerce-order-details .shop_table .product-thumbnail {
  margin: 0 0 0 20px;
}

.rtl .woocommerce-order-details .shop_table .product-total {
  text-align: left;
}

.rtl .my-account-profile .my-avatar {
  margin: 0 0 0 25px;
}

.widget_recent_entries li a {
  padding: 16px 30px 15px 0;
}

.widget_recent_entries li a:before, .widget_recent_entries li a:after {
  content: '\f30a';
  left: auto;
  right: 0;
}

.widget_recent_entries li a:after {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}

.widget_recent_entries li a:hover:before {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}

.rtl .widget_search .search-field,
.rtl .widget_product_search .search-field {
  padding-right: 20px;
  padding-left: 72px;
}

.rtl .widget_search .search-submit,
.rtl .widget_product_search .search-submit {
  left: 0;
  right: auto;
}

.widget .tagcloud a {
  float: right;
}

.rtl .edumall-wp-widget-posts .post-widget-thumbnail {
  margin: 0 0 0 17px;
}

.rtl .tm-button.icon-left .button-icon {
  margin-right: 0 !important;
  margin-left: 14px;
}

.rtl .tm-button.icon-left.tm-button-xs .button-icon {
  margin-left: 7px;
}

.rtl .tm-button.icon-right .button-icon {
  margin-left: 0 !important;
  margin-right: 14px;
}

.rtl .tm-button.icon-right.tm-button-xs .button-icon {
  margin-right: 7px;
}

.rtl .elementor-widget-tm-icon-box.edumall-icon-box-style-03 .tm-icon-box.has-link .heading:after {
  content: '\f104';
  right: auto;
  left: -15px;
}

@media (min-width: 768px) {
  .elementor-widget-tm-icon-box.elementor-position-left .icon-box-wrapper {
    text-align: right;
  }
  .elementor-widget-tm-icon-box.elementor-position-left .edumall-icon-wrap {
    margin-right: 0;
    margin-left: 20px;
  }
  .elementor-widget-tm-icon-box.elementor-position-left.edumall-icon-box-style-03 .edumall-icon-wrap {
    margin-right: 0;
    margin-left: 22px;
  }
}

.rtl .edumall-blog .meta-icon {
  margin-right: 0;
  margin-left: 6px;
}

.rtl .edumall-blog .post-meta-author img {
  margin: 0 0 0 6px;
}

.rtl .edumall-blog .post-read-more .fa-long-arrow-right:before {
  content: '\f177';
}

.rtl .edumall-blog .post-overlay-categories {
  left: auto;
  right: 10px;
}

.rtl .edumall-blog-list-02 .post-thumbnail-wrapper {
  padding-right: 0;
  padding-left: 30px;
}

.rtl .edumall-blog-list-03 .post-title a {
  padding: 0 30px 0 0;
}

.rtl .edumall-blog-list-03 .post-title a:before, .rtl .edumall-blog-list-03 .post-title a:after {
  content: '\f30a';
  left: auto;
  right: 0;
}

.rtl .edumall-blog-list-03 .post-title a:after {
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
}

.rtl .edumall-blog-list-03 .post-title a:hover:before {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
}

.rtl .edumall-blog-list-03 .post-title a:hover:after {
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

.rtl .tm-modern-heading mark span {
  margin-left: 0;
  margin-right: 5px;
}

.rtl .edumall-list .badge {
  margin: 0 7px 0 0;
}

.rtl .elementor-widget-tm-testimonial.layout-image-inline.align-right .info {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: unset;
      -ms-flex-direction: unset;
          flex-direction: unset;
}

.rtl .elementor-widget-tm-testimonial .testimonial-quote-icon {
  right: auto;
  left: 30px;
}

.rtl .edumall-testimonial-style-01.layout-image-inline .image {
  margin: 0 0 0 15px;
}

.rtl .edumall-testimonial-style-01 .testimonial-quote-icon {
  right: auto;
  left: 20px;
}

.rtl .edumall-popup-video-icon-position-left .tm-popup-video.type-button > a {
  text-align: right;
}

.rtl .edumall-popup-video-icon-position-right .tm-popup-video.type-button > a {
  text-align: left;
}

.rtl .edumall-popup-video-button-effect-wave-pulse.edumall-popup-video-icon-position-left .video-button-play {
  margin: 0 0 0 40px;
}

.rtl .edumall-popup-video-button-effect-wave-pulse.edumall-popup-video-icon-position-right .video-button-play {
  margin: 0 40px 0 0;
}

.rtl .edumall-widget-star-rating .rating-score {
  margin: 0 0 0 6px;
}

.rtl .elementor-widget-tm-register-form .icons-on input {
  padding-left: 20px !important;
  padding-right: 42px !important;
}

.rtl .elementor-widget-tm-register-form .form-icon {
  left: auto;
  right: 15px;
}

.rtl .edumall-mailchimp-form-style-01 input[type='email'] {
  padding-left: 130px !important;
  padding-right: 20px !important;
}

.rtl .edumall-mailchimp-form-style-01 .button-submit {
  right: auto;
  left: 6px;
}
