.edumall-event {
	.event-title {
		font-size: 20px;
		line-height: 1.6;
		margin: 0;

		a {
			display: block;
		}
	}

	.event-meta {
		display: flex;
		flex-wrap: wrap;
		line-height: 26px;
		margin: 0 -11px;

		.meta-item {
			display: inline-flex;
			align-items: center;
			padding: 0 11px;
			margin: 0 0 6px
		}

		.meta-label-icon {
			margin: 0 6px 0 0;
		}
	}

	.event-image {
		display: block;
	}

	.event-location {
		margin: 27px 0 0;

		span {
			margin: 0 5px 0 0;
		}
	}

	&.style-grid-01 {
		.event-image {
			position: relative;
			border-radius: 5px;
			overflow: hidden;

			img {
				width: 100%;
			}
		}

		.event-start-date {
			display: inline-block;
			position: absolute;
			bottom: 10px;
			left: 10px;
			font-size: 12px;
			font-weight: 700;
			line-height: 26px;
			text-transform: uppercase;
			letter-spacing: 0.5px;
			color: #fff;
			border-radius: 3px;
			background: $primary-color;
			padding: 0 10px;
		}

		.event-caption {
			padding: 20px 0 14px;
		}
	}

	&.style-grid-02 {
		.edumall-box {
			@extend %NormalTransition;
			display: block;
			background: #f8f8f8;
			border-radius: 5px;
			text-align: center;

			&:hover {
				background: #fff;
				box-shadow: 0 0 40px rgba(51, 51, 51, .1);
			}
		}

		.event-image {
			position: relative;
			border-top-left-radius: inherit;
			border-top-right-radius: inherit;
			overflow: hidden;

			img {
				width: 100%;
			}
		}

		.event-caption {
			padding: 21px 20px 35px;
		}

		.event-start-date {
			font-size: 13px;
			font-weight: 500;
			line-height: 26px;
			text-transform: uppercase;
			letter-spacing: .5px;
			color: #ababab;
			margin: 0 0 6px;
		}

		.event-title {
			font-size: 16px;
			line-height: 1.75;
		}
	}

	&.style-list {
		.grid-item {
			border-bottom: 1px solid #eee;
		}

		.edumall-box {
			display: flex;
			align-items: flex-start;
			padding: 0 0 30px;
		}

		.edumall-image {
			flex-shrink: 0;
			width: 270px;
			max-width: 40%;
			border-radius: 5px;
			margin: 0 30px 0 0;
		}

		.event-caption {
			display: flex;
		}

		.event-caption-right {
			flex-shrink: 0;
			width: 200px;
			padding: 0 0 0 30px;
		}

		.event-price {
			font-size: 18px;
			margin: 12px 0 0;

			.decimals-separator {
				font-size: 77.666667%;
			}
		}

		.event-excerpt {
			margin: 16px 0 0;
		}

		.event-read-more {
			margin: 27px 0 0;

			.tm-button {
				min-width: 170px;
				width: 100%;
			}
		}
	}
}

// Disable title bar margin when filter bar showing.
.page-has-filtering-bar {
	.page-title-bar {
		margin: 0 !important;

		.page-title-bar-inner {
			padding-bottom: 102px !important;
		}
	}
}

.event-filtering-form-bar {
	padding: 25px 20px 10px;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 5px 26px rgba(0, 0, 0, 0.08);
	margin: -51px 0 30px;
	position: relative;
	z-index: 1;

	.event-filtering-form {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;
	}

	.form-group,
	.form-submit {
		padding: 0 10px;
		margin: 0 0 15px;
	}

	.form-group {
		flex: 1 1 0;
		min-width: 170px;
	}

	.form-submit {
		flex-shrink: 0;
		width: 210px;
	}
}

@include media-breakpoint-up(xl) {
	.archive-event-style-list {
		&.page-has-no-sidebar {
			.page-content {
				> .container {
					max-width: 1200px;
					padding-left: 15px;
					padding-right: 15px;
				}
			}
		}
	}
}

@include media-breakpoint-down(md) {
	.edumall-event {
		&.style-list {
			.edumall-image {
				width: 150px;
			}
		}
	}
}

@include media-breakpoint-down(sm) {
	.edumall-event {
		&.style-list {
			.event-caption {
				display: block;
			}

			.event-title {
				font-size: 18px;
			}

			.event-caption-right {
				padding: 20px 0 0 !important;
				width: 100%;
			}

			.event-read-more {
				.tm-button {
					width: auto;
				}
			}
		}
	}
}

@include media-breakpoint-down(xs) {
	.edumall-event {
		&.style-list {
			.edumall-box {
				display: block;
			}

			.edumall-image {
				width: 100%;
				max-width: 100%;
				margin: 0 0 20px !important;
			}

			.event-read-more {
				margin: 18px 0 0;
			}

			.event-excerpt {
				display: none;
			}

			.event-title {
				font-size: 16px;
			}
		}
	}

	.event-filtering-form-bar {
		padding: 20px 10px 5px;

		.form-submit {
			width: 100%;
		}
	}
}

@include media-breakpoint-up(md) {
	.edumall-event {
		&.style-list {
			.event-meta {
				.meta-item {
					width: 100%;
				}
			}
		}
	}
}
