.event_auth_button {
	padding: 0 41px;
	height: 52px;
	line-height: 50px;
	outline: none;
	border-width: 1px;
	border-style: solid;
	border-radius: 5px;
	font-size: 14px;
	font-weight: 700;
	cursor: pointer;
}

.tp-event-notice {
	color: #333 !important;
}
