$zoom-meeting-border-radius: 8px;

.tm-zoom-meeting {
	color: rgba(255, 255, 255, .7);
	text-align: center;
	border-radius: $zoom-meeting-border-radius;
	box-shadow: 0 2px 20px rgba(0, 0, 0, .06);
	overflow: hidden;

	.zoom-content {
		border-radius: $zoom-meeting-border-radius $zoom-meeting-border-radius 0 0;
		background: #1f1f52;
		position: relative;
		padding: 38px 30px 42px;
	}

	.zoom-main-content {
		position: relative;
		z-index: 1;
	}

	.zoom-shape {
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}

	.zoom-shape-img {
		position: absolute;
	}

	.shape-img-01 {
		left: -26px;
		bottom: 30%;
	}

	.shape-img-02 {
		right: 20px;
		bottom: 70px;
	}

	.zoom-topic {
		color: #fff;
		font-size: 34px;
		line-height: 1.42;
		margin: 0;
	}

	.zoom-id {
		margin: 3px 0 0;

		.label {
			font-size: 18px;
			font-weight: $heading-font-weight;
			text-transform: uppercase;
			letter-spacing: 2px;
		}

		.value {
			font-size: 20px;
			font-weight: 700;
			letter-spacing: 3px;
		}
	}

	.zoom-shape {
		.zoom-shape-fill {
			fill: #fff;
		}
	}

	.zoom-buttons {
		background: #fff;
		border-radius: 0 0 $zoom-meeting-border-radius $zoom-meeting-border-radius;
		padding: 15px 30px 20px;

		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		.tm-button-wrapper {
			padding: 10px;
		}

		.tm-button {
			width: 250px;
			max-width: 100%;
		}
	}

	.zoom-meta {
		margin: 19px 0 0;
	}

	.zoom-meta-item {
		display: inline-block;
		padding: 5px 20px;
		text-align: left;

		.meta-label {
			display: block;
			font-size: 15px;
			font-weight: 600;
			color: #fff;
		}
	}

	.zoom-countdown {
		.countdown-content {
			display: inline-flex;
			flex-wrap: wrap;
			//max-width: 338px;
			margin: 18px auto 0;

			> div {
				border-radius: 5px;
				background: #fff;
				box-shadow: 0 0 20px rgba(51, 51, 51, .1);
				width: 77px;
				height: 77px;
				margin: 5px;
				flex: 1 1 0;
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
			}

			.number {
				display: block;
				line-height: 1;
				font-size: 28px;
				font-weight: 600;
				color: $primary-color;
			}

			.text {
				margin: 7px 0 0;
				font-size: 13px;
				font-weight: $heading-font-weight;
				line-height: 1;
				text-transform: uppercase;
				letter-spacing: 1px;
			}
		}
	}
}

@include elementor-breakpoint-down(md) {
	.tm-zoom-meeting {
		.zoom-topic {
			font-size: 30px;
		}
	}
}

@include elementor-breakpoint-down(sm) {
	.tm-zoom-meeting {
		.zoom-topic {
			font-size: 26px;
		}

		.zoom-meta-item {
			display: block;
			text-align: center;
		}

		.zoom-content {
			padding: 38px 20px 42px;
		}

		.zoom-shape {
			height: 20px;
		}

		.zoom-id {
			margin: 8px 0 0;

			.label {
				font-size: 14px;
			}

			.value {
				font-size: 16px;
			}
		}
	}
}
