.rtl {
	.edumall-zoom-meetings {
		.zvc-meta {
			margin-left: 20px;
			margin-right: 0;
		}

		.zvc-loop-meta {
			.meta-icon {
				margin-left: 4px;
				margin-right: 0;
			}
		}

		.zvc-loop-zoom-id {
			.label {
				margin: 0 0 0 4px;
			}
		}
	}
}
